In [38]:
import json

In [39]:
#load the affected queries

affected_queries_json = open("/home/manuel/Tesi/Codebase/ARC/files/affected_queries.json", "r")
affected_queries_with_datasets = json.load(affected_queries_json)
affected_queries = affected_queries_with_datasets.keys()
affected_queries = set(affected_queries)
print(f"Affected queries: {len(affected_queries)}")

#load the empty datasets that are in the affected query ranks 
empty_datasets_in_affected_queries = set()
for query, empty in affected_queries_with_datasets.items():
    empty_datasets_in_affected_queries.update(empty)

empty_datasets = set(empty_datasets_in_affected_queries)
print(f"Number of empty datasets in affected queries: {len(empty_datasets)}")

Affected queries: 210
Number of empty datasets in affected queries: 341

In [40]:
"""
@param path_run: string with the path of the run file
@return dict, key: affected query id, value: rank of the query (ordered list)
"""
def returnRankAffectedQueries(path_run: str) -> dict: 
    run = open(path_run, "r")

    ranks = dict()

    while True:
        line = run.readline()

        if not line:
            break
        
        split = line.split("\t")

        query_id = split[0]

        if query_id in affected_queries:
            rank = set()
            rank.add(split[2])
        
            while True:
                previous_position = run.tell()

                ln = run.readline()

                if not ln:
                    break

                splt = ln.split("\t")
                actual_query = splt[0]

                if actual_query == query_id:
                    rank.add(splt[2])
                else:
                    run.seek(previous_position)
                    break

            ranks[query_id] = rank 

    run.close()

    return ranks

In [55]:
#recover the ACORDAR and my ranks for every dataset-empty affected query

path_acordar_run = "/home/manuel/Tesi/Codebase/ARC/run/ACORDAR/BM25F.txt"
path_run = "/home/manuel/Tesi/Codebase/ARC/run/EDS/BM25[m+c].txt"

acordar_ranks = returnRankAffectedQueries(path_acordar_run)
our_ranks = returnRankAffectedQueries(path_run)

print(len(acordar_ranks.keys()))
print(len(our_ranks.keys()))

210
210

In [56]:
#from the previous extracted dict (affected query -> rank) for ACORDAR we extract from the rank only the list of empty datasets
#returned from ACORDAR

empty_datasets_in_acordar_queries = dict()

i=0
for query, rank in acordar_ranks.items():
    empty_datasets_returned = set.intersection(rank, empty_datasets)
    if len(empty_datasets_returned) > 0:
        print(f"ACORDAR returns empty datasets in query: {query}, datasets: {empty_datasets_returned}")
        empty_datasets_in_acordar_queries[query] = empty_datasets_returned

        i+=1
print(i)

ACORDAR returns empty datasets in query: 3, datasets: {'25039', '25054'}
ACORDAR returns empty datasets in query: 22, datasets: {'2690'}
ACORDAR returns empty datasets in query: 28, datasets: {'24355'}
ACORDAR returns empty datasets in query: 80, datasets: {'88119', '88100'}
ACORDAR returns empty datasets in query: 108, datasets: {'11285'}
ACORDAR returns empty datasets in query: 112, datasets: {'63268', '29436', '63269', '11285'}
ACORDAR returns empty datasets in query: 134, datasets: {'85975', '55976'}
ACORDAR returns empty datasets in query: 175, datasets: {'11789'}
ACORDAR returns empty datasets in query: 194, datasets: {'24751'}
ACORDAR returns empty datasets in query: 206, datasets: {'28924', '28732', '28671'}
ACORDAR returns empty datasets in query: 1004, datasets: {'15779', '15753', '15771', '15786'}
ACORDAR returns empty datasets in query: 1028, datasets: {'41454'}
ACORDAR returns empty datasets in query: 1036, datasets: {'2206'}
ACORDAR returns empty datasets in query: 1041, datasets: {'55459'}
ACORDAR returns empty datasets in query: 1053, datasets: {'13255', '15234'}
ACORDAR returns empty datasets in query: 1055, datasets: {'12515'}
ACORDAR returns empty datasets in query: 1065, datasets: {'13349', '14509'}
ACORDAR returns empty datasets in query: 1074, datasets: {'13290'}
ACORDAR returns empty datasets in query: 1078, datasets: {'15803', '3786'}
ACORDAR returns empty datasets in query: 1095, datasets: {'12515'}
ACORDAR returns empty datasets in query: 1124, datasets: {'77345'}
ACORDAR returns empty datasets in query: 1149, datasets: {'2513'}
ACORDAR returns empty datasets in query: 1160, datasets: {'2137', '2079', '2187', '1998', '2171', '2270', '2048', '2065', '2124', '2263'}
ACORDAR returns empty datasets in query: 1170, datasets: {'9461', '10436', '43154'}
ACORDAR returns empty datasets in query: 1175, datasets: {'69526'}
ACORDAR returns empty datasets in query: 1179, datasets: {'41076'}
ACORDAR returns empty datasets in query: 1213, datasets: {'77345'}
ACORDAR returns empty datasets in query: 1219, datasets: {'25119', '85767', '25048', '1986'}
ACORDAR returns empty datasets in query: 50, datasets: {'2218', '24610', '15636', '24483'}
ACORDAR returns empty datasets in query: 87, datasets: {'2095'}
ACORDAR returns empty datasets in query: 119, datasets: {'55346', '8189'}
ACORDAR returns empty datasets in query: 157, datasets: {'29064', '28921'}
ACORDAR returns empty datasets in query: 163, datasets: {'68945'}
ACORDAR returns empty datasets in query: 189, datasets: {'83612', '83073', '82596'}
ACORDAR returns empty datasets in query: 192, datasets: {'15646'}
ACORDAR returns empty datasets in query: 197, datasets: {'73056'}
ACORDAR returns empty datasets in query: 199, datasets: {'29330'}
ACORDAR returns empty datasets in query: 211, datasets: {'86073'}
ACORDAR returns empty datasets in query: 226, datasets: {'9296'}
ACORDAR returns empty datasets in query: 234, datasets: {'10825'}
ACORDAR returns empty datasets in query: 238, datasets: {'9219'}
ACORDAR returns empty datasets in query: 246, datasets: {'9219'}
ACORDAR returns empty datasets in query: 1012, datasets: {'13290', '14735'}
ACORDAR returns empty datasets in query: 1042, datasets: {'15786', '15743', '15771', '15788', '15779'}
ACORDAR returns empty datasets in query: 1043, datasets: {'68781', '9189'}
ACORDAR returns empty datasets in query: 1044, datasets: {'69526'}
ACORDAR returns empty datasets in query: 1087, datasets: {'3264', '23977', '43075'}
ACORDAR returns empty datasets in query: 1132, datasets: {'63337'}
ACORDAR returns empty datasets in query: 1134, datasets: {'15716'}
ACORDAR returns empty datasets in query: 1155, datasets: {'63337'}
ACORDAR returns empty datasets in query: 1161, datasets: {'2218', '24610', '24483'}
ACORDAR returns empty datasets in query: 1182, datasets: {'2263', '2079', '2187', '2171', '1998', '2124', '2048', '2065', '2567', '2270'}
ACORDAR returns empty datasets in query: 1183, datasets: {'69027', '68651', '27467'}
ACORDAR returns empty datasets in query: 1192, datasets: {'53739', '6472'}
ACORDAR returns empty datasets in query: 1194, datasets: {'24395'}
ACORDAR returns empty datasets in query: 1197, datasets: {'81018'}
ACORDAR returns empty datasets in query: 1203, datasets: {'969', '961', '1103', '4053', '1859'}
ACORDAR returns empty datasets in query: 1205, datasets: {'1007'}
ACORDAR returns empty datasets in query: 1215, datasets: {'25119', '9159', '25048'}
ACORDAR returns empty datasets in query: 1231, datasets: {'2111', '23932'}
ACORDAR returns empty datasets in query: 10, datasets: {'85047', '82746', '82631', '83073', '82816', '85313', '83577'}
ACORDAR returns empty datasets in query: 29, datasets: {'10825', '42452', '42427', '42420'}
ACORDAR returns empty datasets in query: 37, datasets: {'3100', '3143', '43652', '2754', '44450'}
ACORDAR returns empty datasets in query: 39, datasets: {'4250', '1616'}
ACORDAR returns empty datasets in query: 96, datasets: {'2218', '24483'}
ACORDAR returns empty datasets in query: 106, datasets: {'88119', '88100'}
ACORDAR returns empty datasets in query: 118, datasets: {'3264', '23977'}
ACORDAR returns empty datasets in query: 126, datasets: {'2218', '24610', '24483'}
ACORDAR returns empty datasets in query: 132, datasets: {'40734'}
ACORDAR returns empty datasets in query: 139, datasets: {'40734'}
ACORDAR returns empty datasets in query: 172, datasets: {'83073', '11285', '82746'}
ACORDAR returns empty datasets in query: 213, datasets: {'2425', '2166', '24517'}
ACORDAR returns empty datasets in query: 243, datasets: {'10076', '42120', '42278', '10040'}
ACORDAR returns empty datasets in query: 1021, datasets: {'14509', '13349'}
ACORDAR returns empty datasets in query: 1024, datasets: {'4250', '961', '1616'}
ACORDAR returns empty datasets in query: 1037, datasets: {'29213'}
ACORDAR returns empty datasets in query: 1038, datasets: {'10284'}
ACORDAR returns empty datasets in query: 1039, datasets: {'49190', '49055', '2307', '2520'}
ACORDAR returns empty datasets in query: 1086, datasets: {'9461', '50901', '43154'}
ACORDAR returns empty datasets in query: 1093, datasets: {'961'}
ACORDAR returns empty datasets in query: 1096, datasets: {'29213'}
ACORDAR returns empty datasets in query: 1106, datasets: {'11831', '41132', '41092', '41136', '9776', '41073', '7542'}
ACORDAR returns empty datasets in query: 1109, datasets: {'49055', '2307'}
ACORDAR returns empty datasets in query: 1126, datasets: {'12624', '13043'}
ACORDAR returns empty datasets in query: 1171, datasets: {'11789', '69820'}
ACORDAR returns empty datasets in query: 1232, datasets: {'63949'}
ACORDAR returns empty datasets in query: 1234, datasets: {'69820'}
ACORDAR returns empty datasets in query: 17, datasets: {'2206'}
ACORDAR returns empty datasets in query: 51, datasets: {'73048', '73079', '73029'}
ACORDAR returns empty datasets in query: 57, datasets: {'84877', '83073', '82746', '85524'}
ACORDAR returns empty datasets in query: 60, datasets: {'29213'}
ACORDAR returns empty datasets in query: 66, datasets: {'43870', '43927'}
ACORDAR returns empty datasets in query: 83, datasets: {'25051'}
ACORDAR returns empty datasets in query: 88, datasets: {'25071'}
ACORDAR returns empty datasets in query: 105, datasets: {'10658'}
ACORDAR returns empty datasets in query: 117, datasets: {'63268', '29436', '63269'}
ACORDAR returns empty datasets in query: 147, datasets: {'15788'}
ACORDAR returns empty datasets in query: 158, datasets: {'15250', '3106', '13815', '63268', '14735'}
ACORDAR returns empty datasets in query: 178, datasets: {'2095'}
ACORDAR returns empty datasets in query: 188, datasets: {'28924', '28732', '28671'}
ACORDAR returns empty datasets in query: 200, datasets: {'29064', '28921'}
ACORDAR returns empty datasets in query: 1025, datasets: {'50901'}
ACORDAR returns empty datasets in query: 1033, datasets: {'9312', '8722', '69033'}
ACORDAR returns empty datasets in query: 1040, datasets: {'11382'}
ACORDAR returns empty datasets in query: 1052, datasets: {'41087', '41136', '41132', '11795'}
ACORDAR returns empty datasets in query: 1063, datasets: {'13349', '14509'}
ACORDAR returns empty datasets in query: 1075, datasets: {'66626'}
ACORDAR returns empty datasets in query: 1083, datasets: {'8722'}
ACORDAR returns empty datasets in query: 1200, datasets: {'6206', '45826', '39457'}
ACORDAR returns empty datasets in query: 1220, datasets: {'2086', '2084'}
ACORDAR returns empty datasets in query: 1241, datasets: {'11789', '14509', '13349'}
ACORDAR returns empty datasets in query: 90, datasets: {'2111', '23932'}
ACORDAR returns empty datasets in query: 98, datasets: {'66626', '66703'}
ACORDAR returns empty datasets in query: 153, datasets: {'66606'}
ACORDAR returns empty datasets in query: 154, datasets: {'9310', '9032'}
ACORDAR returns empty datasets in query: 155, datasets: {'88119', '88100'}
ACORDAR returns empty datasets in query: 170, datasets: {'11831', '11805', '7542'}
ACORDAR returns empty datasets in query: 171, datasets: {'3106'}
ACORDAR returns empty datasets in query: 176, datasets: {'14735'}
ACORDAR returns empty datasets in query: 201, datasets: {'2277', '74139'}
ACORDAR returns empty datasets in query: 222, datasets: {'40793'}
ACORDAR returns empty datasets in query: 224, datasets: {'14509', '13349'}
ACORDAR returns empty datasets in query: 227, datasets: {'41518', '2194', '2970'}
ACORDAR returns empty datasets in query: 237, datasets: {'11831', '41161', '41158', '41073'}
ACORDAR returns empty datasets in query: 242, datasets: {'72006'}
ACORDAR returns empty datasets in query: 1006, datasets: {'26500'}
ACORDAR returns empty datasets in query: 1007, datasets: {'24105', '2421'}
ACORDAR returns empty datasets in query: 1013, datasets: {'69526'}
ACORDAR returns empty datasets in query: 1014, datasets: {'3862', '66617'}
ACORDAR returns empty datasets in query: 1020, datasets: {'13349', '14509'}
ACORDAR returns empty datasets in query: 1034, datasets: {'13290'}
ACORDAR returns empty datasets in query: 1080, datasets: {'2243'}
ACORDAR returns empty datasets in query: 1091, datasets: {'85975', '55976'}
ACORDAR returns empty datasets in query: 1122, datasets: {'63664'}
ACORDAR returns empty datasets in query: 1136, datasets: {'85975', '55976'}
ACORDAR returns empty datasets in query: 1156, datasets: {'63600'}
ACORDAR returns empty datasets in query: 1164, datasets: {'12941'}
ACORDAR returns empty datasets in query: 1201, datasets: {'15803'}
ACORDAR returns empty datasets in query: 1202, datasets: {'2162'}
ACORDAR returns empty datasets in query: 1206, datasets: {'41518', '2194', '2970'}
ACORDAR returns empty datasets in query: 1216, datasets: {'49284', '73029'}
ACORDAR returns empty datasets in query: 1226, datasets: {'26332'}
ACORDAR returns empty datasets in query: 1238, datasets: {'2243', '3108', '42796', '2945', '42845', '24005', '2987'}
143

In [57]:
#for every query affected by empty datasets, return which datasets I don't return and ACORDAR does instead

not_returned_datasets = dict()

for query, empty_datasets_acordar in empty_datasets_in_acordar_queries.items():

    if not empty_datasets_acordar.issubset(our_ranks[query]):
        datasets = set()

        for empty_dataset in empty_datasets_acordar:
            if empty_dataset not in our_ranks[query]:
                datasets.add(empty_dataset)
        
        not_returned_datasets[query] = datasets

        print(f"Query: {query}, not returned: {datasets}")
 
print(f"Number of queries where i don't return empty datasets: {len(not_returned_datasets.keys())}")

Query: 22, not returned: {'2690'}
Query: 28, not returned: {'24355'}
Query: 80, not returned: {'88119', '88100'}
Query: 108, not returned: {'11285'}
Query: 112, not returned: {'63268', '63269', '11285', '29436'}
Query: 134, not returned: {'55976'}
Query: 175, not returned: {'11789'}
Query: 194, not returned: {'24751'}
Query: 206, not returned: {'28924', '28732'}
Query: 1004, not returned: {'15786', '15753', '15779', '15771'}
Query: 1028, not returned: {'41454'}
Query: 1036, not returned: {'2206'}
Query: 1041, not returned: {'55459'}
Query: 1065, not returned: {'14509', '13349'}
Query: 1074, not returned: {'13290'}
Query: 1078, not returned: {'15803', '3786'}
Query: 1095, not returned: {'12515'}
Query: 1124, not returned: {'77345'}
Query: 1149, not returned: {'2513'}
Query: 1160, not returned: {'2187', '2171', '2124', '2065', '2263'}
Query: 1170, not returned: {'9461', '10436', '43154'}
Query: 1175, not returned: {'69526'}
Query: 1179, not returned: {'41076'}
Query: 1213, not returned: {'77345'}
Query: 1219, not returned: {'25119', '85767', '25048', '1986'}
Query: 50, not returned: {'2218', '24610', '15636', '24483'}
Query: 87, not returned: {'2095'}
Query: 119, not returned: {'55346', '8189'}
Query: 157, not returned: {'28921'}
Query: 189, not returned: {'83612', '83073', '82596'}
Query: 197, not returned: {'73056'}
Query: 199, not returned: {'29330'}
Query: 211, not returned: {'86073'}
Query: 238, not returned: {'9219'}
Query: 246, not returned: {'9219'}
Query: 1012, not returned: {'13290', '14735'}
Query: 1042, not returned: {'15786', '15743', '15771', '15788', '15779'}
Query: 1043, not returned: {'68781', '9189'}
Query: 1044, not returned: {'69526'}
Query: 1087, not returned: {'43075'}
Query: 1134, not returned: {'15716'}
Query: 1155, not returned: {'63337'}
Query: 1161, not returned: {'2218', '24610', '24483'}
Query: 1182, not returned: {'2079', '2187', '1998', '2171', '2270', '2124', '2048', '2065', '2567', '2263'}
Query: 1183, not returned: {'69027', '68651'}
Query: 1192, not returned: {'53739', '6472'}
Query: 1194, not returned: {'24395'}
Query: 1197, not returned: {'81018'}
Query: 1203, not returned: {'969', '1103', '961', '4053', '1859'}
Query: 1231, not returned: {'2111', '23932'}
Query: 10, not returned: {'85047', '82746', '82631', '83073', '82816', '85313', '83577'}
Query: 37, not returned: {'3100', '3143', '43652', '2754', '44450'}
Query: 39, not returned: {'4250'}
Query: 96, not returned: {'2218', '24483'}
Query: 106, not returned: {'88100'}
Query: 118, not returned: {'3264', '23977'}
Query: 126, not returned: {'24610'}
Query: 132, not returned: {'40734'}
Query: 139, not returned: {'40734'}
Query: 172, not returned: {'83073', '11285', '82746'}
Query: 213, not returned: {'2425', '24517'}
Query: 243, not returned: {'10076', '42120', '42278', '10040'}
Query: 1024, not returned: {'4250', '961', '1616'}
Query: 1037, not returned: {'29213'}
Query: 1038, not returned: {'10284'}
Query: 1039, not returned: {'49190', '2520', '49055', '2307'}
Query: 1086, not returned: {'9461', '50901', '43154'}
Query: 1093, not returned: {'961'}
Query: 1096, not returned: {'29213'}
Query: 1106, not returned: {'11831', '41132', '41092', '41136', '9776', '41073', '7542'}
Query: 1109, not returned: {'49055', '2307'}
Query: 1126, not returned: {'12624', '13043'}
Query: 1171, not returned: {'11789', '69820'}
Query: 1234, not returned: {'69820'}
Query: 17, not returned: {'2206'}
Query: 51, not returned: {'73048', '73079', '73029'}
Query: 57, not returned: {'84877', '83073', '82746', '85524'}
Query: 60, not returned: {'29213'}
Query: 83, not returned: {'25051'}
Query: 105, not returned: {'10658'}
Query: 117, not returned: {'63268', '63269', '29436'}
Query: 147, not returned: {'15788'}
Query: 158, not returned: {'15250', '3106', '13815', '63268', '14735'}
Query: 178, not returned: {'2095'}
Query: 188, not returned: {'28924'}
Query: 200, not returned: {'28921'}
Query: 1025, not returned: {'50901'}
Query: 1033, not returned: {'9312', '8722', '69033'}
Query: 1040, not returned: {'11382'}
Query: 1052, not returned: {'41087', '41136', '41132', '11795'}
Query: 1075, not returned: {'66626'}
Query: 1083, not returned: {'8722'}
Query: 1200, not returned: {'39457'}
Query: 1220, not returned: {'2086', '2084'}
Query: 1241, not returned: {'11789', '13349'}
Query: 90, not returned: {'2111', '23932'}
Query: 98, not returned: {'66703'}
Query: 153, not returned: {'66606'}
Query: 154, not returned: {'9310', '9032'}
Query: 155, not returned: {'88119', '88100'}
Query: 170, not returned: {'11831', '7542', '11805'}
Query: 171, not returned: {'3106'}
Query: 201, not returned: {'2277', '74139'}
Query: 222, not returned: {'40793'}
Query: 224, not returned: {'13349', '14509'}
Query: 227, not returned: {'2194', '41518'}
Query: 237, not returned: {'11831', '41161', '41073'}
Query: 1006, not returned: {'26500'}
Query: 1007, not returned: {'24105', '2421'}
Query: 1013, not returned: {'69526'}
Query: 1014, not returned: {'3862', '66617'}
Query: 1020, not returned: {'14509', '13349'}
Query: 1034, not returned: {'13290'}
Query: 1080, not returned: {'2243'}
Query: 1091, not returned: {'85975', '55976'}
Query: 1122, not returned: {'63664'}
Query: 1136, not returned: {'85975', '55976'}
Query: 1156, not returned: {'63600'}
Query: 1201, not returned: {'15803'}
Query: 1206, not returned: {'2194', '41518', '2970'}
Query: 1216, not returned: {'49284', '73029'}
Query: 1226, not returned: {'26332'}
Query: 1238, not returned: {'2243', '3108', '42796', '2945', '42845', '24005', '2987'}
Number of queries where i don't return empty datasets: 123

In [60]:
#visualize the most affected queries for my run, so the queries with a lot of empty datasets that are not returned
#by sorting the queries by the len of the list of the empty datasets not returned

not_returned_datasets_sorted = sorted(not_returned_datasets.items(), key=lambda x:len(x[1]), reverse= True)
print(not_returned_datasets_sorted)

[('1182', {'2079', '2187', '1998', '2171', '2270', '2124', '2048', '2065', '2567', '2263'}), ('10', {'85047', '82746', '82631', '83073', '82816', '85313', '83577'}), ('1106', {'11831', '41132', '41092', '41136', '9776', '41073', '7542'}), ('1238', {'2243', '3108', '42796', '2945', '42845', '24005', '2987'}), ('1160', {'2187', '2171', '2124', '2065', '2263'}), ('1042', {'15786', '15743', '15771', '15788', '15779'}), ('1203', {'969', '1103', '961', '4053', '1859'}), ('37', {'3100', '3143', '43652', '2754', '44450'}), ('158', {'15250', '3106', '13815', '63268', '14735'}), ('112', {'63268', '63269', '11285', '29436'}), ('1004', {'15786', '15753', '15779', '15771'}), ('1219', {'25119', '85767', '25048', '1986'}), ('50', {'2218', '24610', '15636', '24483'}), ('243', {'10076', '42120', '42278', '10040'}), ('1039', {'49190', '2520', '49055', '2307'}), ('57', {'84877', '83073', '82746', '85524'}), ('1052', {'41087', '41136', '41132', '11795'}), ('1170', {'9461', '10436', '43154'}), ('189', {'83612', '83073', '82596'}), ('1161', {'2218', '24610', '24483'}), ('172', {'83073', '11285', '82746'}), ('1024', {'4250', '961', '1616'}), ('1086', {'9461', '50901', '43154'}), ('51', {'73048', '73079', '73029'}), ('117', {'63268', '63269', '29436'}), ('1033', {'9312', '8722', '69033'}), ('170', {'11831', '7542', '11805'}), ('237', {'11831', '41161', '41073'}), ('1206', {'2194', '41518', '2970'}), ('80', {'88119', '88100'}), ('206', {'28924', '28732'}), ('1065', {'14509', '13349'}), ('1078', {'15803', '3786'}), ('119', {'55346', '8189'}), ('1012', {'13290', '14735'}), ('1043', {'68781', '9189'}), ('1183', {'69027', '68651'}), ('1192', {'53739', '6472'}), ('1231', {'2111', '23932'}), ('96', {'2218', '24483'}), ('118', {'3264', '23977'}), ('213', {'2425', '24517'}), ('1109', {'49055', '2307'}), ('1126', {'12624', '13043'}), ('1171', {'11789', '69820'}), ('1220', {'2086', '2084'}), ('1241', {'11789', '13349'}), ('90', {'2111', '23932'}), ('154', {'9310', '9032'}), ('155', {'88119', '88100'}), ('201', {'2277', '74139'}), ('224', {'13349', '14509'}), ('227', {'2194', '41518'}), ('1007', {'24105', '2421'}), ('1014', {'3862', '66617'}), ('1020', {'14509', '13349'}), ('1091', {'85975', '55976'}), ('1136', {'85975', '55976'}), ('1216', {'49284', '73029'}), ('22', {'2690'}), ('28', {'24355'}), ('108', {'11285'}), ('134', {'55976'}), ('175', {'11789'}), ('194', {'24751'}), ('1028', {'41454'}), ('1036', {'2206'}), ('1041', {'55459'}), ('1074', {'13290'}), ('1095', {'12515'}), ('1124', {'77345'}), ('1149', {'2513'}), ('1175', {'69526'}), ('1179', {'41076'}), ('1213', {'77345'}), ('87', {'2095'}), ('157', {'28921'}), ('197', {'73056'}), ('199', {'29330'}), ('211', {'86073'}), ('238', {'9219'}), ('246', {'9219'}), ('1044', {'69526'}), ('1087', {'43075'}), ('1134', {'15716'}), ('1155', {'63337'}), ('1194', {'24395'}), ('1197', {'81018'}), ('39', {'4250'}), ('106', {'88100'}), ('126', {'24610'}), ('132', {'40734'}), ('139', {'40734'}), ('1037', {'29213'}), ('1038', {'10284'}), ('1093', {'961'}), ('1096', {'29213'}), ('1234', {'69820'}), ('17', {'2206'}), ('60', {'29213'}), ('83', {'25051'}), ('105', {'10658'}), ('147', {'15788'}), ('178', {'2095'}), ('188', {'28924'}), ('200', {'28921'}), ('1025', {'50901'}), ('1040', {'11382'}), ('1075', {'66626'}), ('1083', {'8722'}), ('1200', {'39457'}), ('98', {'66703'}), ('153', {'66606'}), ('171', {'3106'}), ('222', {'40793'}), ('1006', {'26500'}), ('1013', {'69526'}), ('1034', {'13290'}), ('1080', {'2243'}), ('1122', {'63664'}), ('1156', {'63600'}), ('1201', {'15803'}), ('1226', {'26332'})]

In [61]:
#calculate how many queries has 1 empty dataset not returned, 2 and so on

buckets = dict()

for query, empty_datasets_not_returned in not_returned_datasets_sorted:
    length = len(empty_datasets_not_returned)

    if length not in buckets.keys():
        buckets[length] = []

    buckets[length].append(query)

for bucket, query_list in buckets.items():
    print(f"Number of empty datasets not returned: {bucket} Number of queries: {len(query_list)}")

Number of empty datasets not returned: 10 Number of queries: 1
Number of empty datasets not returned: 7 Number of queries: 3
Number of empty datasets not returned: 5 Number of queries: 5
Number of empty datasets not returned: 4 Number of queries: 8
Number of empty datasets not returned: 3 Number of queries: 12
Number of empty datasets not returned: 2 Number of queries: 30
Number of empty datasets not returned: 1 Number of queries: 64

In [62]:
"""
@param trec_file file to a P@10 info file
@return dict: key: query id value: P@10
"""
def recoverAllP10(trec_file):
    query_p10 = dict()

    while True:
        line = trec_file.readline()

        if not line:
            break

        split = line.split()
        query = split[1]
        p10 = split[2]

        query_p10[query] = p10
    
    return query_p10

In [63]:
"""
@param trec_file file to a P@10 info file
@parma affected_queries set of queries ids (144 queries where I don't return some empty datasets)
@return dict: key: query id value: P@10
"""
def recoverP10AffectedFromTrec(trec_file, affected_queries):
    query_p10 = dict()

    while True:
        line = trec_file.readline()

        if not line:
            break

        split = line.split()
        query = split[1]
        p10 = split[2]

        if query in affected_queries:
            query_p10[query] = p10
    
    return query_p10

In [64]:
# recover for every empty datasets affected query the P@10 obtained from ACORDAR runs and from my runs

acordar_trec = open("/home/manuel/Tesi/Codebase/ARC/run/ACORDAR/BM25_P10.txt", "r")
run_trec = open("/home/manuel/Tesi/Codebase/ARC/run/EDS/BM25_P10.txt", "r")

acordar_P10 = recoverP10AffectedFromTrec(acordar_trec, not_returned_datasets.keys())
run_P10 = recoverP10AffectedFromTrec(run_trec, not_returned_datasets.keys())

comparison = dict()

i = 0 
for query, p10 in acordar_P10.items():
    features = dict()
    features["P10 (A)"] = float(p10)
    features["P10 (E)"] = float(run_P10[query])
    features["len"] = len(not_returned_datasets[query])
                    
    print(f"Query ID: {query} P10 (A): {p10} P10 (E): {run_P10[query]} Not returned empty datasets: {len(not_returned_datasets[query])}")
    comparison[query] = features
    i+=1
print(i)

Query ID: 10 P10 (A): 0.7000 P10 (E): 0.0000 Not returned empty datasets: 7
Query ID: 1004 P10 (A): 0.7000 P10 (E): 0.6000 Not returned empty datasets: 4
Query ID: 1006 P10 (A): 0.6000 P10 (E): 0.1000 Not returned empty datasets: 1
Query ID: 1007 P10 (A): 1.0000 P10 (E): 0.4000 Not returned empty datasets: 2
Query ID: 1012 P10 (A): 0.3000 P10 (E): 0.2000 Not returned empty datasets: 2
Query ID: 1013 P10 (A): 0.6000 P10 (E): 0.4000 Not returned empty datasets: 1
Query ID: 1014 P10 (A): 1.0000 P10 (E): 0.7000 Not returned empty datasets: 2
Query ID: 1020 P10 (A): 0.2000 P10 (E): 0.0000 Not returned empty datasets: 2
Query ID: 1024 P10 (A): 0.3000 P10 (E): 0.0000 Not returned empty datasets: 3
Query ID: 1025 P10 (A): 0.1000 P10 (E): 0.0000 Not returned empty datasets: 1
Query ID: 1028 P10 (A): 0.8000 P10 (E): 0.6000 Not returned empty datasets: 1
Query ID: 1033 P10 (A): 1.0000 P10 (E): 0.2000 Not returned empty datasets: 3
Query ID: 1034 P10 (A): 0.3000 P10 (E): 0.0000 Not returned empty datasets: 1
Query ID: 1036 P10 (A): 0.6000 P10 (E): 0.1000 Not returned empty datasets: 1
Query ID: 1037 P10 (A): 0.8000 P10 (E): 0.8000 Not returned empty datasets: 1
Query ID: 1038 P10 (A): 1.0000 P10 (E): 0.9000 Not returned empty datasets: 1
Query ID: 1039 P10 (A): 1.0000 P10 (E): 0.8000 Not returned empty datasets: 4
Query ID: 1040 P10 (A): 0.7000 P10 (E): 0.5000 Not returned empty datasets: 1
Query ID: 1041 P10 (A): 0.9000 P10 (E): 0.6000 Not returned empty datasets: 1
Query ID: 1042 P10 (A): 0.9000 P10 (E): 0.6000 Not returned empty datasets: 5
Query ID: 1043 P10 (A): 0.8000 P10 (E): 0.2000 Not returned empty datasets: 2
Query ID: 1044 P10 (A): 0.8000 P10 (E): 0.6000 Not returned empty datasets: 1
Query ID: 105 P10 (A): 0.5000 P10 (E): 0.4000 Not returned empty datasets: 1
Query ID: 1052 P10 (A): 1.0000 P10 (E): 0.5000 Not returned empty datasets: 4
Query ID: 106 P10 (A): 0.9000 P10 (E): 0.7000 Not returned empty datasets: 1
Query ID: 1065 P10 (A): 0.2000 P10 (E): 0.0000 Not returned empty datasets: 2
Query ID: 1074 P10 (A): 0.1000 P10 (E): 0.0000 Not returned empty datasets: 1
Query ID: 1075 P10 (A): 0.5000 P10 (E): 0.2000 Not returned empty datasets: 1
Query ID: 1078 P10 (A): 0.7000 P10 (E): 0.1000 Not returned empty datasets: 2
Query ID: 108 P10 (A): 0.5000 P10 (E): 0.1000 Not returned empty datasets: 1
Query ID: 1080 P10 (A): 0.6000 P10 (E): 0.2000 Not returned empty datasets: 1
Query ID: 1083 P10 (A): 0.4000 P10 (E): 0.1000 Not returned empty datasets: 1
Query ID: 1086 P10 (A): 0.4000 P10 (E): 0.0000 Not returned empty datasets: 3
Query ID: 1087 P10 (A): 0.8000 P10 (E): 0.7000 Not returned empty datasets: 1
Query ID: 1091 P10 (A): 0.3000 P10 (E): 0.4000 Not returned empty datasets: 2
Query ID: 1093 P10 (A): 0.2000 P10 (E): 0.2000 Not returned empty datasets: 1
Query ID: 1095 P10 (A): 0.1000 P10 (E): 0.0000 Not returned empty datasets: 1
Query ID: 1096 P10 (A): 1.0000 P10 (E): 0.9000 Not returned empty datasets: 1
Query ID: 1106 P10 (A): 1.0000 P10 (E): 0.3000 Not returned empty datasets: 7
Query ID: 1109 P10 (A): 1.0000 P10 (E): 0.7000 Not returned empty datasets: 2
Query ID: 112 P10 (A): 0.5000 P10 (E): 0.1000 Not returned empty datasets: 4
Query ID: 1122 P10 (A): 0.8000 P10 (E): 0.3000 Not returned empty datasets: 1
Query ID: 1124 P10 (A): 0.7000 P10 (E): 0.2000 Not returned empty datasets: 1
Query ID: 1126 P10 (A): 0.9000 P10 (E): 0.5000 Not returned empty datasets: 2
Query ID: 1134 P10 (A): 0.7000 P10 (E): 0.3000 Not returned empty datasets: 1
Query ID: 1136 P10 (A): 0.6000 P10 (E): 0.3000 Not returned empty datasets: 2
Query ID: 1149 P10 (A): 1.0000 P10 (E): 0.8000 Not returned empty datasets: 1
Query ID: 1155 P10 (A): 0.4000 P10 (E): 0.0000 Not returned empty datasets: 1
Query ID: 1156 P10 (A): 0.4000 P10 (E): 0.0000 Not returned empty datasets: 1
Query ID: 1160 P10 (A): 0.9000 P10 (E): 0.7000 Not returned empty datasets: 5
Query ID: 1161 P10 (A): 1.0000 P10 (E): 0.8000 Not returned empty datasets: 3
Query ID: 117 P10 (A): 0.2000 P10 (E): 0.0000 Not returned empty datasets: 3
Query ID: 1170 P10 (A): 0.1000 P10 (E): 0.0000 Not returned empty datasets: 3
Query ID: 1171 P10 (A): 0.9000 P10 (E): 0.7000 Not returned empty datasets: 2
Query ID: 1175 P10 (A): 0.5000 P10 (E): 0.4000 Not returned empty datasets: 1
Query ID: 1179 P10 (A): 0.2000 P10 (E): 0.2000 Not returned empty datasets: 1
Query ID: 118 P10 (A): 0.2000 P10 (E): 0.1000 Not returned empty datasets: 2
Query ID: 1182 P10 (A): 1.0000 P10 (E): 0.0000 Not returned empty datasets: 10
Query ID: 1183 P10 (A): 0.7000 P10 (E): 0.6000 Not returned empty datasets: 2
Query ID: 119 P10 (A): 1.0000 P10 (E): 0.4000 Not returned empty datasets: 2
Query ID: 1192 P10 (A): 0.4000 P10 (E): 0.2000 Not returned empty datasets: 2
Query ID: 1194 P10 (A): 0.4000 P10 (E): 0.1000 Not returned empty datasets: 1
Query ID: 1197 P10 (A): 0.7000 P10 (E): 0.6000 Not returned empty datasets: 1
Query ID: 1200 P10 (A): 0.5000 P10 (E): 0.5000 Not returned empty datasets: 1
Query ID: 1201 P10 (A): 0.0000 P10 (E): 0.0000 Not returned empty datasets: 1
Query ID: 1203 P10 (A): 0.7000 P10 (E): 0.0000 Not returned empty datasets: 5
Query ID: 1206 P10 (A): 0.9000 P10 (E): 0.3000 Not returned empty datasets: 3
Query ID: 1213 P10 (A): 0.4000 P10 (E): 0.1000 Not returned empty datasets: 1
Query ID: 1216 P10 (A): 0.2000 P10 (E): 0.1000 Not returned empty datasets: 2
Query ID: 1219 P10 (A): 1.0000 P10 (E): 0.3000 Not returned empty datasets: 4
Query ID: 1220 P10 (A): 0.4000 P10 (E): 0.0000 Not returned empty datasets: 2
Query ID: 1226 P10 (A): 0.5000 P10 (E): 0.3000 Not returned empty datasets: 1
Query ID: 1231 P10 (A): 0.5000 P10 (E): 0.0000 Not returned empty datasets: 2
Query ID: 1234 P10 (A): 0.2000 P10 (E): 0.1000 Not returned empty datasets: 1
Query ID: 1238 P10 (A): 0.8000 P10 (E): 0.2000 Not returned empty datasets: 7
Query ID: 1241 P10 (A): 0.4000 P10 (E): 0.3000 Not returned empty datasets: 2
Query ID: 126 P10 (A): 0.9000 P10 (E): 0.6000 Not returned empty datasets: 1
Query ID: 132 P10 (A): 0.1000 P10 (E): 0.0000 Not returned empty datasets: 1
Query ID: 134 P10 (A): 0.6000 P10 (E): 0.6000 Not returned empty datasets: 1
Query ID: 139 P10 (A): 0.4000 P10 (E): 0.3000 Not returned empty datasets: 1
Query ID: 147 P10 (A): 0.0000 P10 (E): 0.0000 Not returned empty datasets: 1
Query ID: 153 P10 (A): 0.1000 P10 (E): 0.0000 Not returned empty datasets: 1
Query ID: 154 P10 (A): 0.2000 P10 (E): 0.0000 Not returned empty datasets: 2
Query ID: 155 P10 (A): 0.7000 P10 (E): 0.6000 Not returned empty datasets: 2
Query ID: 157 P10 (A): 0.3000 P10 (E): 0.2000 Not returned empty datasets: 1
Query ID: 158 P10 (A): 0.2000 P10 (E): 0.1000 Not returned empty datasets: 5
Query ID: 17 P10 (A): 0.1000 P10 (E): 0.0000 Not returned empty datasets: 1
Query ID: 170 P10 (A): 0.0000 P10 (E): 0.0000 Not returned empty datasets: 3
Query ID: 171 P10 (A): 0.5000 P10 (E): 0.3000 Not returned empty datasets: 1
Query ID: 172 P10 (A): 0.4000 P10 (E): 0.1000 Not returned empty datasets: 3
Query ID: 175 P10 (A): 0.0000 P10 (E): 0.0000 Not returned empty datasets: 1
Query ID: 178 P10 (A): 0.8000 P10 (E): 0.6000 Not returned empty datasets: 1
Query ID: 188 P10 (A): 0.0000 P10 (E): 0.0000 Not returned empty datasets: 1
Query ID: 189 P10 (A): 0.3000 P10 (E): 0.0000 Not returned empty datasets: 3
Query ID: 194 P10 (A): 0.5000 P10 (E): 0.1000 Not returned empty datasets: 1
Query ID: 197 P10 (A): 0.7000 P10 (E): 0.6000 Not returned empty datasets: 1
Query ID: 199 P10 (A): 0.0000 P10 (E): 0.0000 Not returned empty datasets: 1
Query ID: 200 P10 (A): 0.6000 P10 (E): 0.3000 Not returned empty datasets: 1
Query ID: 201 P10 (A): 0.6000 P10 (E): 0.3000 Not returned empty datasets: 2
Query ID: 206 P10 (A): 0.2000 P10 (E): 0.0000 Not returned empty datasets: 2
Query ID: 211 P10 (A): 0.8000 P10 (E): 0.4000 Not returned empty datasets: 1
Query ID: 213 P10 (A): 0.8000 P10 (E): 0.4000 Not returned empty datasets: 2
Query ID: 22 P10 (A): 0.2000 P10 (E): 0.0000 Not returned empty datasets: 1
Query ID: 222 P10 (A): 0.5000 P10 (E): 0.2000 Not returned empty datasets: 1
Query ID: 224 P10 (A): 0.1000 P10 (E): 0.1000 Not returned empty datasets: 2
Query ID: 227 P10 (A): 0.1000 P10 (E): 0.2000 Not returned empty datasets: 2
Query ID: 237 P10 (A): 0.6000 P10 (E): 0.5000 Not returned empty datasets: 3
Query ID: 238 P10 (A): 0.1000 P10 (E): 0.0000 Not returned empty datasets: 1
Query ID: 243 P10 (A): 1.0000 P10 (E): 0.3000 Not returned empty datasets: 4
Query ID: 246 P10 (A): 0.1000 P10 (E): 0.0000 Not returned empty datasets: 1
Query ID: 28 P10 (A): 0.1000 P10 (E): 0.0000 Not returned empty datasets: 1
Query ID: 37 P10 (A): 0.9000 P10 (E): 0.4000 Not returned empty datasets: 5
Query ID: 39 P10 (A): 0.1000 P10 (E): 0.0000 Not returned empty datasets: 1
Query ID: 50 P10 (A): 0.7000 P10 (E): 0.2000 Not returned empty datasets: 4
Query ID: 51 P10 (A): 0.7000 P10 (E): 0.4000 Not returned empty datasets: 3
Query ID: 57 P10 (A): 0.4000 P10 (E): 0.0000 Not returned empty datasets: 4
Query ID: 60 P10 (A): 0.9000 P10 (E): 0.4000 Not returned empty datasets: 1
Query ID: 80 P10 (A): 0.9000 P10 (E): 0.3000 Not returned empty datasets: 2
Query ID: 83 P10 (A): 0.6000 P10 (E): 0.2000 Not returned empty datasets: 1
Query ID: 87 P10 (A): 0.4000 P10 (E): 0.1000 Not returned empty datasets: 1
Query ID: 90 P10 (A): 1.0000 P10 (E): 0.0000 Not returned empty datasets: 2
Query ID: 96 P10 (A): 0.7000 P10 (E): 0.0000 Not returned empty datasets: 2
Query ID: 98 P10 (A): 0.6000 P10 (E): 0.3000 Not returned empty datasets: 1
123

In [65]:
run_trec = open("/home/manuel/Tesi/Codebase/ARC/run/EDS/BM25_P10.txt", "r")
run_all_P10 = recoverAllP10(run_trec)

In [67]:
i = 0 
for query, features in comparison.items():
    recover = (features["P10 (E)"] + (features["len"] / 10 ))

    if recover <= features["P10 (A)"]:
        print(f"Query ID: {query} P10 (A): {features['P10 (A)']} P10 (E): {features['P10 (E)']} Not returned empty datasets: {features['len']}")
        i+=1

print(i)

Query ID: 10 P10 (A): 0.7 P10 (E): 0.0 Not returned empty datasets: 7
Query ID: 1006 P10 (A): 0.6 P10 (E): 0.1 Not returned empty datasets: 1
Query ID: 1007 P10 (A): 1.0 P10 (E): 0.4 Not returned empty datasets: 2
Query ID: 1013 P10 (A): 0.6 P10 (E): 0.4 Not returned empty datasets: 1
Query ID: 1014 P10 (A): 1.0 P10 (E): 0.7 Not returned empty datasets: 2
Query ID: 1020 P10 (A): 0.2 P10 (E): 0.0 Not returned empty datasets: 2
Query ID: 1024 P10 (A): 0.3 P10 (E): 0.0 Not returned empty datasets: 3
Query ID: 1025 P10 (A): 0.1 P10 (E): 0.0 Not returned empty datasets: 1
Query ID: 1028 P10 (A): 0.8 P10 (E): 0.6 Not returned empty datasets: 1
Query ID: 1033 P10 (A): 1.0 P10 (E): 0.2 Not returned empty datasets: 3
Query ID: 1034 P10 (A): 0.3 P10 (E): 0.0 Not returned empty datasets: 1
Query ID: 1036 P10 (A): 0.6 P10 (E): 0.1 Not returned empty datasets: 1
Query ID: 1038 P10 (A): 1.0 P10 (E): 0.9 Not returned empty datasets: 1
Query ID: 1040 P10 (A): 0.7 P10 (E): 0.5 Not returned empty datasets: 1
Query ID: 1041 P10 (A): 0.9 P10 (E): 0.6 Not returned empty datasets: 1
Query ID: 1043 P10 (A): 0.8 P10 (E): 0.2 Not returned empty datasets: 2
Query ID: 1044 P10 (A): 0.8 P10 (E): 0.6 Not returned empty datasets: 1
Query ID: 105 P10 (A): 0.5 P10 (E): 0.4 Not returned empty datasets: 1
Query ID: 1052 P10 (A): 1.0 P10 (E): 0.5 Not returned empty datasets: 4
Query ID: 106 P10 (A): 0.9 P10 (E): 0.7 Not returned empty datasets: 1
Query ID: 1065 P10 (A): 0.2 P10 (E): 0.0 Not returned empty datasets: 2
Query ID: 1074 P10 (A): 0.1 P10 (E): 0.0 Not returned empty datasets: 1
Query ID: 1075 P10 (A): 0.5 P10 (E): 0.2 Not returned empty datasets: 1
Query ID: 1078 P10 (A): 0.7 P10 (E): 0.1 Not returned empty datasets: 2
Query ID: 108 P10 (A): 0.5 P10 (E): 0.1 Not returned empty datasets: 1
Query ID: 1080 P10 (A): 0.6 P10 (E): 0.2 Not returned empty datasets: 1
Query ID: 1083 P10 (A): 0.4 P10 (E): 0.1 Not returned empty datasets: 1
Query ID: 1086 P10 (A): 0.4 P10 (E): 0.0 Not returned empty datasets: 3
Query ID: 1087 P10 (A): 0.8 P10 (E): 0.7 Not returned empty datasets: 1
Query ID: 1095 P10 (A): 0.1 P10 (E): 0.0 Not returned empty datasets: 1
Query ID: 1096 P10 (A): 1.0 P10 (E): 0.9 Not returned empty datasets: 1
Query ID: 1106 P10 (A): 1.0 P10 (E): 0.3 Not returned empty datasets: 7
Query ID: 1109 P10 (A): 1.0 P10 (E): 0.7 Not returned empty datasets: 2
Query ID: 112 P10 (A): 0.5 P10 (E): 0.1 Not returned empty datasets: 4
Query ID: 1122 P10 (A): 0.8 P10 (E): 0.3 Not returned empty datasets: 1
Query ID: 1124 P10 (A): 0.7 P10 (E): 0.2 Not returned empty datasets: 1
Query ID: 1126 P10 (A): 0.9 P10 (E): 0.5 Not returned empty datasets: 2
Query ID: 1134 P10 (A): 0.7 P10 (E): 0.3 Not returned empty datasets: 1
Query ID: 1136 P10 (A): 0.6 P10 (E): 0.3 Not returned empty datasets: 2
Query ID: 1149 P10 (A): 1.0 P10 (E): 0.8 Not returned empty datasets: 1
Query ID: 1155 P10 (A): 0.4 P10 (E): 0.0 Not returned empty datasets: 1
Query ID: 1156 P10 (A): 0.4 P10 (E): 0.0 Not returned empty datasets: 1
Query ID: 1171 P10 (A): 0.9 P10 (E): 0.7 Not returned empty datasets: 2
Query ID: 1175 P10 (A): 0.5 P10 (E): 0.4 Not returned empty datasets: 1
Query ID: 1182 P10 (A): 1.0 P10 (E): 0.0 Not returned empty datasets: 10
Query ID: 119 P10 (A): 1.0 P10 (E): 0.4 Not returned empty datasets: 2
Query ID: 1192 P10 (A): 0.4 P10 (E): 0.2 Not returned empty datasets: 2
Query ID: 1194 P10 (A): 0.4 P10 (E): 0.1 Not returned empty datasets: 1
Query ID: 1197 P10 (A): 0.7 P10 (E): 0.6 Not returned empty datasets: 1
Query ID: 1203 P10 (A): 0.7 P10 (E): 0.0 Not returned empty datasets: 5
Query ID: 1206 P10 (A): 0.9 P10 (E): 0.3 Not returned empty datasets: 3
Query ID: 1213 P10 (A): 0.4 P10 (E): 0.1 Not returned empty datasets: 1
Query ID: 1219 P10 (A): 1.0 P10 (E): 0.3 Not returned empty datasets: 4
Query ID: 1220 P10 (A): 0.4 P10 (E): 0.0 Not returned empty datasets: 2
Query ID: 1226 P10 (A): 0.5 P10 (E): 0.3 Not returned empty datasets: 1
Query ID: 1231 P10 (A): 0.5 P10 (E): 0.0 Not returned empty datasets: 2
Query ID: 1234 P10 (A): 0.2 P10 (E): 0.1 Not returned empty datasets: 1
Query ID: 126 P10 (A): 0.9 P10 (E): 0.6 Not returned empty datasets: 1
Query ID: 132 P10 (A): 0.1 P10 (E): 0.0 Not returned empty datasets: 1
Query ID: 139 P10 (A): 0.4 P10 (E): 0.3 Not returned empty datasets: 1
Query ID: 153 P10 (A): 0.1 P10 (E): 0.0 Not returned empty datasets: 1
Query ID: 154 P10 (A): 0.2 P10 (E): 0.0 Not returned empty datasets: 2
Query ID: 17 P10 (A): 0.1 P10 (E): 0.0 Not returned empty datasets: 1
Query ID: 171 P10 (A): 0.5 P10 (E): 0.3 Not returned empty datasets: 1
Query ID: 172 P10 (A): 0.4 P10 (E): 0.1 Not returned empty datasets: 3
Query ID: 178 P10 (A): 0.8 P10 (E): 0.6 Not returned empty datasets: 1
Query ID: 189 P10 (A): 0.3 P10 (E): 0.0 Not returned empty datasets: 3
Query ID: 194 P10 (A): 0.5 P10 (E): 0.1 Not returned empty datasets: 1
Query ID: 197 P10 (A): 0.7 P10 (E): 0.6 Not returned empty datasets: 1
Query ID: 200 P10 (A): 0.6 P10 (E): 0.3 Not returned empty datasets: 1
Query ID: 201 P10 (A): 0.6 P10 (E): 0.3 Not returned empty datasets: 2
Query ID: 206 P10 (A): 0.2 P10 (E): 0.0 Not returned empty datasets: 2
Query ID: 211 P10 (A): 0.8 P10 (E): 0.4 Not returned empty datasets: 1
Query ID: 213 P10 (A): 0.8 P10 (E): 0.4 Not returned empty datasets: 2
Query ID: 22 P10 (A): 0.2 P10 (E): 0.0 Not returned empty datasets: 1
Query ID: 222 P10 (A): 0.5 P10 (E): 0.2 Not returned empty datasets: 1
Query ID: 238 P10 (A): 0.1 P10 (E): 0.0 Not returned empty datasets: 1
Query ID: 243 P10 (A): 1.0 P10 (E): 0.3 Not returned empty datasets: 4
Query ID: 246 P10 (A): 0.1 P10 (E): 0.0 Not returned empty datasets: 1
Query ID: 28 P10 (A): 0.1 P10 (E): 0.0 Not returned empty datasets: 1
Query ID: 37 P10 (A): 0.9 P10 (E): 0.4 Not returned empty datasets: 5
Query ID: 39 P10 (A): 0.1 P10 (E): 0.0 Not returned empty datasets: 1
Query ID: 50 P10 (A): 0.7 P10 (E): 0.2 Not returned empty datasets: 4
Query ID: 51 P10 (A): 0.7 P10 (E): 0.4 Not returned empty datasets: 3
Query ID: 57 P10 (A): 0.4 P10 (E): 0.0 Not returned empty datasets: 4
Query ID: 60 P10 (A): 0.9 P10 (E): 0.4 Not returned empty datasets: 1
Query ID: 80 P10 (A): 0.9 P10 (E): 0.3 Not returned empty datasets: 2
Query ID: 83 P10 (A): 0.6 P10 (E): 0.2 Not returned empty datasets: 1
Query ID: 87 P10 (A): 0.4 P10 (E): 0.1 Not returned empty datasets: 1
Query ID: 90 P10 (A): 1.0 P10 (E): 0.0 Not returned empty datasets: 2
Query ID: 96 P10 (A): 0.7 P10 (E): 0.0 Not returned empty datasets: 2
Query ID: 98 P10 (A): 0.6 P10 (E): 0.3 Not returned empty datasets: 1
92

In [68]:
# calculate the new P@10 if the empty datasets were returned

new_run_all_P10 = run_all_P10.copy()

i = 0 
for query, features in comparison.items():
    recover = (features["P10 (E)"] + (features["len"] / 10 ))

    if recover <= features["P10 (A)"]:
        new_run_all_P10[query] = recover

In [69]:
new_P10 = 0 
for query, p10 in new_run_all_P10.items():
    new_P10 += float(p10)
new_P10 /= 493

In [72]:
new_P10

0.2808215010141983