# Duplicated Datasets Analysis

In this notebook we want to analyze and retrieve from the datasets.json list provided which datasets are duplicated by considering different aspects and analysis. 
Sections:
* Section 1: duplicated datasets analysis. We are going to consider the following definition: two ore more datasets are duplicated if they share title, description, author, tags and download links
* Section 2: We are going to analyze which datasets share only the download links
* Section 3: We are going to analyze which datasets share the links but have different titles, descriptions, authors, tags

In [55]:
import json
import os
from pandas import json_normalize

In [56]:
#open the datasets.json file
scriptDir = os.path.dirname(os.path.realpath('__file__'))
datasets_file = open(os.path.join(scriptDir,"../../files/datasets.json"), "r", encoding="utf-8")
datasets_json = json.load(datasets_file, strict=False)
datasets_file.close()

## Section 1: Duplicated Datasets Analysis

In this section we are going to retrieve from the datasets.json file wich datasets are duplicated by considering the following definition: "two or more datasets are duplicated if they share the same links, title, description, tags and author fields". After getting a list of sets of duplicated datasets we are going to analyze the qrels file in order to see if duplicated datasets have different relevance scores in a given query. Furthermore we are going to analyzer ACORDAR runs in order to see if, in presence of a duplicated dataset in a rank, also the duplicated datasets are returned.

In [76]:
duplicates = dict()

for dataset in datasets_json["datasets"]:
    #obtain a list of different ordered links from the dataset
    distinct_links = sorted(set(dataset["download"]))

    #build a string with the link concatenation
    links_as_string = ""
    for link in distinct_links:
        links_as_string += link

    #concatenate to the string also title description tags and author
    key = dataset["title"] + dataset.get("description","") + dataset["tags"] + dataset.get("author", "") 
    key += links_as_string

    if key not in duplicates.keys():
        duplicates[key] = list()
        
    duplicates[key].append(int(dataset["dataset_id"]))

In [77]:
i = 0 
duplicated_sets_list = list()
for key in duplicates.keys():
    if len(duplicates[key]) > 1:
        print(f"Duplicated datasets: {duplicates[key]}")
        duplicated_sets_list.append(duplicates[key])
        i+=1

print("Number of sets of duplicated datasets:"+str(i))

Duplicated datasets: [596, 1012]
Duplicated datasets: [787, 796, 1166]
Duplicated datasets: [1123, 1848, 4013]
Duplicated datasets: [1203, 4435]
Duplicated datasets: [1221, 3340, 6542]
Duplicated datasets: [1650, 1655, 4591, 4604, 4609]
Duplicated datasets: [1870, 3489]
Duplicated datasets: [1871, 3485]
Duplicated datasets: [1921, 6661]
Duplicated datasets: [1927, 3327, 3801, 8006, 9540]
Duplicated datasets: [1928, 3341, 8033]
Duplicated datasets: [1934, 8389]
Duplicated datasets: [1937, 3328, 3802, 7794, 9541]
Duplicated datasets: [1942, 3333, 7754]
Duplicated datasets: [1943, 3342, 7801]
Duplicated datasets: [1947, 7008]
Duplicated datasets: [1949, 6856]
Duplicated datasets: [1953, 3334, 3799, 8642, 9539]
Duplicated datasets: [1972, 3773, 9360]
Duplicated datasets: [1973, 3766, 8975]
Duplicated datasets: [1994, 3355]
Duplicated datasets: [2000, 3354]
Duplicated datasets: [2028, 3356]
Duplicated datasets: [2053, 3358]
Duplicated datasets: [2071, 3357]
Duplicated datasets: [2115, 3346]
Duplicated datasets: [2231, 3361]
Duplicated datasets: [2249, 3362]
Duplicated datasets: [2596, 3351]
Duplicated datasets: [2974, 3352]
Duplicated datasets: [3307, 5729]
Duplicated datasets: [3308, 5644]
Duplicated datasets: [3313, 7353]
Duplicated datasets: [3316, 8353]
Duplicated datasets: [3318, 4805, 7300]
Duplicated datasets: [3319, 8667]
Duplicated datasets: [3320, 4131, 8860]
Duplicated datasets: [3321, 8197]
Duplicated datasets: [3323, 7048]
Duplicated datasets: [3324, 8249]
Duplicated datasets: [3325, 8251]
Duplicated datasets: [3326, 8252]
Duplicated datasets: [3330, 6507]
Duplicated datasets: [3331, 4130, 6496]
Duplicated datasets: [3332, 4803, 6463]
Duplicated datasets: [3336, 7007]
Duplicated datasets: [3337, 7221]
Duplicated datasets: [3338, 6694]
Duplicated datasets: [3811, 9443, 9548, 10556, 10989, 11171]
Duplicated datasets: [4335, 4499]
Duplicated datasets: [4804, 4871, 11216]
Duplicated datasets: [4870, 5453, 10223]
Duplicated datasets: [10101, 10595, 10966, 11345]
Duplicated datasets: [10102, 10558, 10996, 11174]
Duplicated datasets: [10117, 10521, 10987, 11252]
Duplicated datasets: [10444, 10800, 11236]
Duplicated datasets: [10445, 10803, 11413]
Duplicated datasets: [11919, 12191]
Duplicated datasets: [12398, 12509]
Duplicated datasets: [13530, 15050]
Duplicated datasets: [13579, 14924]
Duplicated datasets: [13590, 15056]
Duplicated datasets: [13611, 15054]
Duplicated datasets: [13622, 15092]
Duplicated datasets: [13683, 15261]
Duplicated datasets: [13719, 15275]
Duplicated datasets: [13759, 15150]
Duplicated datasets: [13765, 15344]
Duplicated datasets: [13815, 15250]
Duplicated datasets: [13822, 15282]
Duplicated datasets: [13845, 15205]
Duplicated datasets: [13902, 14916]
Duplicated datasets: [13907, 15270]
Duplicated datasets: [15998, 21526]
Duplicated datasets: [16001, 21523]
Duplicated datasets: [16002, 21528]
Duplicated datasets: [16004, 21527]
Duplicated datasets: [16005, 21525]
Duplicated datasets: [16006, 21529]
Duplicated datasets: [21516, 21521]
Number of sets of duplicated datasets:80

In [78]:
#now we analyze the qrels file
qrels_file = open(os.path.join(scriptDir,"../../files/qrels.txt"), "r")

#mapping is a dictionary dataset_id -> query_id -> relevance_score for dataset_id in query_id
mapping = dict()

while True:
    line = qrels_file.readline().strip()

    if not line:
        break

    split = line.split("\t")
    query_id = int(split[0])
    dataset_id = int(split[2])
    rel = int(split[3])

    if dataset_id not in mapping.keys():
        mapping[dataset_id] = dict()

    mapping[dataset_id][query_id] = int(rel)

In [79]:
#let's see if duplicated datasets have different rel. judgments in the same query

for duplicated_datasets in duplicated_sets_list:
    
    query_datasets = list()

    #retrieve for every group of duplicated datasets in which queries they appear in the qrels
    for dataset_id in duplicated_datasets:        
        if dataset_id in mapping.keys():
            query_datasets.extend(list(mapping[dataset_id].keys()))

    #remove the duplicates (python does not have ad add all method for the sets)
    query_datasets = set(query_datasets)
        
    for query in query_datasets:

        relevance_scores = list()


        for dataset_id in duplicated_datasets:
            rel = None
        
            if dataset_id in mapping.keys() and query in mapping[dataset_id]:
                rel = mapping[dataset_id][query]

            relevance_scores.append(rel)

        score = relevance_scores[0]
        for i in range(1, len(relevance_scores)):
            if relevance_scores[i] != score:
                print(f"Query: {query}, different scores for datasets: {duplicated_datasets} : {relevance_scores}")
                break

Query: 1237, different scores for datasets: [596, 1012] : [2, None]
Query: 1122, different scores for datasets: [1937, 3328, 3802, 7794, 9541] : [None, None, 2, None, None]
Query: 1138, different scores for datasets: [3313, 7353] : [0, 1]
Query: 90, different scores for datasets: [3332, 4803, 6463] : [None, None, 0]
Query: 153, different scores for datasets: [10445, 10803, 11413] : [0, None, 0]
Query: 1070, different scores for datasets: [13530, 15050] : [None, 0]
Query: 1034, different scores for datasets: [13530, 15050] : [None, 0]
Query: 99, different scores for datasets: [13530, 15050] : [None, 0]
Query: 54, different scores for datasets: [13530, 15050] : [None, 0]
Query: 104, different scores for datasets: [13579, 14924] : [0, 1]
Query: 1056, different scores for datasets: [13611, 15054] : [0, 1]
Query: 1062, different scores for datasets: [13765, 15344] : [0, None]
Query: 79, different scores for datasets: [13765, 15344] : [0, None]
Query: 1044, different scores for datasets: [13765, 15344] : [0, None]
Query: 252, different scores for datasets: [13907, 15270] : [1, 0]
Query: 1125, different scores for datasets: [13907, 15270] : [0, None]

In [83]:
#now we are going to analyze the run ranks in order to see if duplicated datasets are returned in the same rank

def generate_run_ranks(run_file) -> dict:
    run = dict()
    while True:
        line = run_file.readline()

        if not line:
            break
        
        split = line.split("\t")

        query = int(split[0])
        dataset =int(split[2])

        if query not in run.keys():
            run[query] = list()

        run[query].append(int(dataset))
    
    return run

In [84]:
def find_duplicates_in_runs(run: dict, duplicated_sets: set):
    for query in run.keys():
        for dataset in run[query]:
            for duplicated_datasets in duplicated_sets:
                if dataset in duplicated_datasets:
                    print(f"Query: {query}, Rank: {run[query]}, Dataset duplicated returned: {dataset} in group: {duplicated_datasets}")
                    break

In [85]:
#analyze acordar runs of BM25 in every configurations to see if these duplicated datasets are returned with the same score in the same run

run_meta_file = open(os.path.join(scriptDir, "../../files/run/ACORDAR/BM25F[m].txt"), "r")
run_data_file = open(os.path.join(scriptDir, "../../files/run/ACORDAR/BM25F[d].txt"), "r")
run_all_file = open(os.path.join(scriptDir, "../../files/run/ACORDAR/BM25F.txt"), "r")

run_meta = generate_run_ranks(run_meta_file)
run_data = generate_run_ranks(run_data_file)
run_all = generate_run_ranks(run_all_file)

find_duplicates_in_runs(run_meta,duplicated_sets_list)

Query: 1090, Rank: [13568, 15014, 13582, 14491, 13290, 13622, 15092, 14921, 13577, 14050], Dataset duplicated returned: 13622 in group: [13622, 15092]
Query: 1090, Rank: [13568, 15014, 13582, 14491, 13290, 13622, 15092, 14921, 13577, 14050], Dataset duplicated returned: 15092 in group: [13622, 15092]
Query: 1097, Rank: [12513, 8984, 40797, 40693, 40769, 13579, 14924, 40802, 51136, 87571], Dataset duplicated returned: 13579 in group: [13579, 14924]
Query: 1097, Rank: [12513, 8984, 40797, 40693, 40769, 13579, 14924, 40802, 51136, 87571], Dataset duplicated returned: 14924 in group: [13579, 14924]
Query: 1180, Rank: [28603, 28554, 71732, 28742, 28636, 11418, 12509, 12398, 28697, 2243], Dataset duplicated returned: 12509 in group: [12398, 12509]
Query: 1180, Rank: [28603, 28554, 71732, 28742, 28636, 11418, 12509, 12398, 28697, 2243], Dataset duplicated returned: 12398 in group: [12398, 12509]
Query: 1012, Rank: [15014, 13568, 13290, 13581, 11727, 30429, 14493, 13622, 15092, 13582], Dataset duplicated returned: 13622 in group: [13622, 15092]
Query: 1012, Rank: [15014, 13568, 13290, 13581, 11727, 30429, 14493, 13622, 15092, 13582], Dataset duplicated returned: 15092 in group: [13622, 15092]
Query: 1056, Rank: [8984, 6397, 13579, 14924, 12513, 6311, 6544, 2111, 6699, 8822], Dataset duplicated returned: 13579 in group: [13579, 14924]
Query: 1056, Rank: [8984, 6397, 13579, 14924, 12513, 6311, 6544, 2111, 6699, 8822], Dataset duplicated returned: 14924 in group: [13579, 14924]
Query: 1138, Rank: [8251, 3325, 8660, 7057, 7169, 6576, 1922, 8281, 7207, 62284], Dataset duplicated returned: 8251 in group: [3325, 8251]
Query: 1138, Rank: [8251, 3325, 8660, 7057, 7169, 6576, 1922, 8281, 7207, 62284], Dataset duplicated returned: 3325 in group: [3325, 8251]
Query: 1237, Rank: [3801, 1927, 7976, 8006, 9540, 3327, 7753, 11414, 55720, 596], Dataset duplicated returned: 3801 in group: [1927, 3327, 3801, 8006, 9540]
Query: 1237, Rank: [3801, 1927, 7976, 8006, 9540, 3327, 7753, 11414, 55720, 596], Dataset duplicated returned: 1927 in group: [1927, 3327, 3801, 8006, 9540]
Query: 1237, Rank: [3801, 1927, 7976, 8006, 9540, 3327, 7753, 11414, 55720, 596], Dataset duplicated returned: 8006 in group: [1927, 3327, 3801, 8006, 9540]
Query: 1237, Rank: [3801, 1927, 7976, 8006, 9540, 3327, 7753, 11414, 55720, 596], Dataset duplicated returned: 9540 in group: [1927, 3327, 3801, 8006, 9540]
Query: 1237, Rank: [3801, 1927, 7976, 8006, 9540, 3327, 7753, 11414, 55720, 596], Dataset duplicated returned: 3327 in group: [1927, 3327, 3801, 8006, 9540]
Query: 1237, Rank: [3801, 1927, 7976, 8006, 9540, 3327, 7753, 11414, 55720, 596], Dataset duplicated returned: 596 in group: [596, 1012]
Query: 1, Rank: [32907, 31665, 11995, 11607, 46025, 34340, 77854, 12509, 12398, 10548], Dataset duplicated returned: 12509 in group: [12398, 12509]
Query: 1, Rank: [32907, 31665, 11995, 11607, 46025, 34340, 77854, 12509, 12398, 10548], Dataset duplicated returned: 12398 in group: [12398, 12509]
Query: 81, Rank: [1943, 1928, 8033, 3342, 3341, 7801, 9881, 74834, 1942, 3333], Dataset duplicated returned: 1943 in group: [1943, 3342, 7801]
Query: 81, Rank: [1943, 1928, 8033, 3342, 3341, 7801, 9881, 74834, 1942, 3333], Dataset duplicated returned: 1928 in group: [1928, 3341, 8033]
Query: 81, Rank: [1943, 1928, 8033, 3342, 3341, 7801, 9881, 74834, 1942, 3333], Dataset duplicated returned: 8033 in group: [1928, 3341, 8033]
Query: 81, Rank: [1943, 1928, 8033, 3342, 3341, 7801, 9881, 74834, 1942, 3333], Dataset duplicated returned: 3342 in group: [1943, 3342, 7801]
Query: 81, Rank: [1943, 1928, 8033, 3342, 3341, 7801, 9881, 74834, 1942, 3333], Dataset duplicated returned: 3341 in group: [1928, 3341, 8033]
Query: 81, Rank: [1943, 1928, 8033, 3342, 3341, 7801, 9881, 74834, 1942, 3333], Dataset duplicated returned: 7801 in group: [1943, 3342, 7801]
Query: 81, Rank: [1943, 1928, 8033, 3342, 3341, 7801, 9881, 74834, 1942, 3333], Dataset duplicated returned: 1942 in group: [1942, 3333, 7754]
Query: 81, Rank: [1943, 1928, 8033, 3342, 3341, 7801, 9881, 74834, 1942, 3333], Dataset duplicated returned: 3333 in group: [1942, 3333, 7754]
Query: 1010, Rank: [7617, 7574, 7740, 1209, 7964, 8028, 55366, 13907, 15270, 7440], Dataset duplicated returned: 13907 in group: [13907, 15270]
Query: 1010, Rank: [7617, 7574, 7740, 1209, 7964, 8028, 55366, 13907, 15270, 7440], Dataset duplicated returned: 15270 in group: [13907, 15270]
Query: 1123, Rank: [2925, 43087, 2968, 2974, 3352, 44348, 2881, 2906, 62220, 10492], Dataset duplicated returned: 2974 in group: [2974, 3352]
Query: 1123, Rank: [2925, 43087, 2968, 2974, 3352, 44348, 2881, 2906, 62220, 10492], Dataset duplicated returned: 3352 in group: [2974, 3352]
Query: 1070, Rank: [8984, 13579, 14924, 15054, 13611, 14530, 6397, 15006, 12513, 15005], Dataset duplicated returned: 13579 in group: [13579, 14924]
Query: 1070, Rank: [8984, 13579, 14924, 15054, 13611, 14530, 6397, 15006, 12513, 15005], Dataset duplicated returned: 14924 in group: [13579, 14924]
Query: 1070, Rank: [8984, 13579, 14924, 15054, 13611, 14530, 6397, 15006, 12513, 15005], Dataset duplicated returned: 15054 in group: [13611, 15054]
Query: 1070, Rank: [8984, 13579, 14924, 15054, 13611, 14530, 6397, 15006, 12513, 15005], Dataset duplicated returned: 13611 in group: [13611, 15054]
Query: 1121, Rank: [1875, 41444, 46047, 70997, 51756, 53002, 34340, 7283, 596, 1012], Dataset duplicated returned: 596 in group: [596, 1012]
Query: 1121, Rank: [1875, 41444, 46047, 70997, 51756, 53002, 34340, 7283, 596, 1012], Dataset duplicated returned: 1012 in group: [596, 1012]
Query: 1178, Rank: [13582, 14491, 13568, 47182, 13622, 15092, 2333, 2286, 48458, 48532], Dataset duplicated returned: 13622 in group: [13622, 15092]
Query: 1178, Rank: [13582, 14491, 13568, 47182, 13622, 15092, 2333, 2286, 48458, 48532], Dataset duplicated returned: 15092 in group: [13622, 15092]
Query: 1140, Rank: [11258, 11275, 26344, 11349, 45824, 85781, 10958, 10445, 11413, 10803], Dataset duplicated returned: 10445 in group: [10445, 10803, 11413]
Query: 1140, Rank: [11258, 11275, 26344, 11349, 45824, 85781, 10958, 10445, 11413, 10803], Dataset duplicated returned: 11413 in group: [10445, 10803, 11413]
Query: 1140, Rank: [11258, 11275, 26344, 11349, 45824, 85781, 10958, 10445, 11413, 10803], Dataset duplicated returned: 10803 in group: [10445, 10803, 11413]
Query: 1239, Rank: [13847, 14304, 2234, 2026, 13902, 14916, 81079, 81114, 32500, 32509], Dataset duplicated returned: 13902 in group: [13902, 14916]
Query: 1239, Rank: [13847, 14304, 2234, 2026, 13902, 14916, 81079, 81114, 32500, 32509], Dataset duplicated returned: 14916 in group: [13902, 14916]

In [86]:
find_duplicates_in_runs(run_data,duplicated_sets_list)

Query: 14, Rank: [10280, 2985, 54472, 53736, 53737, 4789, 12509, 12398, 2206, 53744], Dataset duplicated returned: 12509 in group: [12398, 12509]
Query: 14, Rank: [10280, 2985, 54472, 53736, 53737, 4789, 12509, 12398, 2206, 53744], Dataset duplicated returned: 12398 in group: [12398, 12509]
Query: 124, Rank: [6183, 4789, 11608, 14979, 2976, 43391, 31774, 53744, 12513, 12509], Dataset duplicated returned: 12509 in group: [12398, 12509]
Query: 1097, Rank: [12513, 14162, 63267, 15054, 13611, 15013, 15002, 15007, 15004, 10110], Dataset duplicated returned: 15054 in group: [13611, 15054]
Query: 1097, Rank: [12513, 14162, 63267, 15054, 13611, 15013, 15002, 15007, 15004, 10110], Dataset duplicated returned: 13611 in group: [13611, 15054]
Query: 163, Rank: [3579, 45413, 3367, 13284, 14417, 74800, 13579, 14924, 8342, 4158], Dataset duplicated returned: 13579 in group: [13579, 14924]
Query: 163, Rank: [3579, 45413, 3367, 13284, 14417, 74800, 13579, 14924, 8342, 4158], Dataset duplicated returned: 14924 in group: [13579, 14924]
Query: 1203, Rank: [2009, 23983, 4611, 24362, 2596, 3351, 2196, 23899, 2206, 2227], Dataset duplicated returned: 2596 in group: [2596, 3351]
Query: 1203, Rank: [2009, 23983, 4611, 24362, 2596, 3351, 2196, 23899, 2206, 2227], Dataset duplicated returned: 3351 in group: [2596, 3351]
Query: 1, Rank: [53737, 12509, 12398, 71080, 75371, 10239, 7092, 61382, 76923, 79280], Dataset duplicated returned: 12509 in group: [12398, 12509]
Query: 1, Rank: [53737, 12509, 12398, 71080, 75371, 10239, 7092, 61382, 76923, 79280], Dataset duplicated returned: 12398 in group: [12398, 12509]
Query: 54, Rank: [11849, 12509, 12398, 6866, 12513, 15050, 13530, 7234, 76781, 4877], Dataset duplicated returned: 12509 in group: [12398, 12509]
Query: 54, Rank: [11849, 12509, 12398, 6866, 12513, 15050, 13530, 7234, 76781, 4877], Dataset duplicated returned: 12398 in group: [12398, 12509]
Query: 54, Rank: [11849, 12509, 12398, 6866, 12513, 15050, 13530, 7234, 76781, 4877], Dataset duplicated returned: 15050 in group: [13530, 15050]
Query: 54, Rank: [11849, 12509, 12398, 6866, 12513, 15050, 13530, 7234, 76781, 4877], Dataset duplicated returned: 13530 in group: [13530, 15050]
Query: 59, Rank: [73775, 10110, 11849, 63267, 11820, 13356, 46822, 10807, 54472, 15050], Dataset duplicated returned: 15050 in group: [13530, 15050]
Query: 67, Rank: [37879, 9530, 13574, 13815, 15250, 14530, 15044, 10280, 11080, 14084], Dataset duplicated returned: 13815 in group: [13815, 15250]
Query: 67, Rank: [37879, 9530, 13574, 13815, 15250, 14530, 15044, 10280, 11080, 14084], Dataset duplicated returned: 15250 in group: [13815, 15250]
Query: 158, Rank: [13815, 15250, 38033, 34714, 14735, 34645, 3106, 63268, 21569, 2664], Dataset duplicated returned: 13815 in group: [13815, 15250]
Query: 158, Rank: [13815, 15250, 38033, 34714, 14735, 34645, 3106, 63268, 21569, 2664], Dataset duplicated returned: 15250 in group: [13815, 15250]
Query: 178, Rank: [5568, 5577, 7065, 74740, 11295, 5580, 75632, 13579, 14924, 5812], Dataset duplicated returned: 13579 in group: [13579, 14924]
Query: 178, Rank: [5568, 5577, 7065, 74740, 11295, 5580, 75632, 13579, 14924, 5812], Dataset duplicated returned: 14924 in group: [13579, 14924]
Query: 218, Rank: [14751, 14750, 10689, 15205, 13845, 11233, 14163, 6983, 8507, 74643], Dataset duplicated returned: 15205 in group: [13845, 15205]
Query: 218, Rank: [14751, 14750, 10689, 15205, 13845, 11233, 14163, 6983, 8507, 74643], Dataset duplicated returned: 13845 in group: [13845, 15205]
Query: 252, Rank: [44876, 9933, 13907, 15270, 16061, 10474, 16067, 16074, 4192, 16078], Dataset duplicated returned: 13907 in group: [13907, 15270]
Query: 252, Rank: [44876, 9933, 13907, 15270, 16061, 10474, 16067, 16074, 4192, 16078], Dataset duplicated returned: 15270 in group: [13907, 15270]
Query: 1167, Rank: [13902, 14916, 43276, 27583, 15636, 27097, 26169, 44086, 28543, 13043], Dataset duplicated returned: 13902 in group: [13902, 14916]
Query: 1167, Rank: [13902, 14916, 43276, 27583, 15636, 27097, 26169, 44086, 28543, 13043], Dataset duplicated returned: 14916 in group: [13902, 14916]
Query: 58, Rank: [12509, 12398, 14979, 21476, 21495, 53744, 3590, 8638, 55774, 3575], Dataset duplicated returned: 12509 in group: [12398, 12509]
Query: 58, Rank: [12509, 12398, 14979, 21476, 21495, 53744, 3590, 8638, 55774, 3575], Dataset duplicated returned: 12398 in group: [12398, 12509]
Query: 90, Rank: [14631, 11225, 15059, 21687, 7815, 12518, 74795, 13719, 15275, 5879], Dataset duplicated returned: 13719 in group: [13719, 15275]
Query: 90, Rank: [14631, 11225, 15059, 21687, 7815, 12518, 74795, 13719, 15275, 5879], Dataset duplicated returned: 15275 in group: [13719, 15275]
Query: 171, Rank: [3106, 13579, 14924, 16160, 16546, 64116, 4784, 21557, 14163, 13902], Dataset duplicated returned: 13579 in group: [13579, 14924]
Query: 171, Rank: [3106, 13579, 14924, 16160, 16546, 64116, 4784, 21557, 14163, 13902], Dataset duplicated returned: 14924 in group: [13579, 14924]
Query: 171, Rank: [3106, 13579, 14924, 16160, 16546, 64116, 4784, 21557, 14163, 13902], Dataset duplicated returned: 13902 in group: [13902, 14916]
Query: 217, Rank: [8235, 76472, 8330, 76347, 8260, 8836, 3313, 7353, 6317, 76239], Dataset duplicated returned: 3313 in group: [3313, 7353]
Query: 217, Rank: [8235, 76472, 8330, 76347, 8260, 8836, 3313, 7353, 6317, 76239], Dataset duplicated returned: 7353 in group: [3313, 7353]
Query: 1034, Rank: [14742, 14084, 14163, 14530, 15044, 13997, 15050, 13530, 21536, 13425], Dataset duplicated returned: 15050 in group: [13530, 15050]
Query: 1034, Rank: [14742, 14084, 14163, 14530, 15044, 13997, 15050, 13530, 21536, 13425], Dataset duplicated returned: 13530 in group: [13530, 15050]
Query: 1098, Rank: [10280, 14921, 13577, 13765, 15344, 14530, 14084, 70651, 31928, 16035], Dataset duplicated returned: 13765 in group: [13765, 15344]
Query: 1098, Rank: [10280, 14921, 13577, 13765, 15344, 14530, 14084, 70651, 31928, 16035], Dataset duplicated returned: 15344 in group: [13765, 15344]
Query: 1119, Rank: [76256, 8260, 8330, 76347, 8235, 76472, 3313, 7353, 76239, 8836], Dataset duplicated returned: 3313 in group: [3313, 7353]
Query: 1119, Rank: [76256, 8260, 8330, 76347, 8235, 76472, 3313, 7353, 76239, 8836], Dataset duplicated returned: 7353 in group: [3313, 7353]
Query: 1127, Rank: [14735, 13719, 15275, 13461, 4594, 21493, 21494, 21479, 21487, 21476], Dataset duplicated returned: 13719 in group: [13719, 15275]
Query: 1127, Rank: [14735, 13719, 15275, 13461, 4594, 21493, 21494, 21479, 21487, 21476], Dataset duplicated returned: 15275 in group: [13719, 15275]

In [87]:
find_duplicates_in_runs(run_all,duplicated_sets_list)

Query: 1002, Rank: [46561, 12509, 12398, 11683, 86273, 3531, 41757, 4594, 3370, 9017], Dataset duplicated returned: 12509 in group: [12398, 12509]
Query: 1002, Rank: [46561, 12509, 12398, 11683, 86273, 3531, 41757, 4594, 3370, 9017], Dataset duplicated returned: 12398 in group: [12398, 12509]
Query: 1023, Rank: [13283, 14277, 13347, 16047, 14324, 13997, 12636, 14546, 13907, 15270], Dataset duplicated returned: 13907 in group: [13907, 15270]
Query: 1023, Rank: [13283, 14277, 13347, 16047, 14324, 13997, 12636, 14546, 13907, 15270], Dataset duplicated returned: 15270 in group: [13907, 15270]
Query: 1090, Rank: [13568, 15014, 13582, 14491, 13290, 13622, 15092, 14735, 13263, 14364], Dataset duplicated returned: 13622 in group: [13622, 15092]
Query: 1090, Rank: [13568, 15014, 13582, 14491, 13290, 13622, 15092, 14735, 13263, 14364], Dataset duplicated returned: 15092 in group: [13622, 15092]
Query: 1097, Rank: [12513, 8984, 40797, 40693, 40769, 40802, 13579, 14924, 15054, 13611], Dataset duplicated returned: 13579 in group: [13579, 14924]
Query: 1097, Rank: [12513, 8984, 40797, 40693, 40769, 40802, 13579, 14924, 15054, 13611], Dataset duplicated returned: 14924 in group: [13579, 14924]
Query: 1097, Rank: [12513, 8984, 40797, 40693, 40769, 40802, 13579, 14924, 15054, 13611], Dataset duplicated returned: 15054 in group: [13611, 15054]
Query: 1097, Rank: [12513, 8984, 40797, 40693, 40769, 40802, 13579, 14924, 15054, 13611], Dataset duplicated returned: 13611 in group: [13611, 15054]
Query: 1180, Rank: [28603, 11418, 28636, 12509, 12398, 28554, 71732, 28742, 28697, 28617], Dataset duplicated returned: 12509 in group: [12398, 12509]
Query: 1180, Rank: [28603, 11418, 28636, 12509, 12398, 28554, 71732, 28742, 28697, 28617], Dataset duplicated returned: 12398 in group: [12398, 12509]
Query: 1056, Rank: [8984, 15002, 6397, 12513, 2111, 23932, 13579, 14924, 6463, 3332], Dataset duplicated returned: 13579 in group: [13579, 14924]
Query: 1056, Rank: [8984, 15002, 6397, 12513, 2111, 23932, 13579, 14924, 6463, 3332], Dataset duplicated returned: 14924 in group: [13579, 14924]
Query: 1056, Rank: [8984, 15002, 6397, 12513, 2111, 23932, 13579, 14924, 6463, 3332], Dataset duplicated returned: 6463 in group: [3332, 4803, 6463]
Query: 1056, Rank: [8984, 15002, 6397, 12513, 2111, 23932, 13579, 14924, 6463, 3332], Dataset duplicated returned: 3332 in group: [3332, 4803, 6463]
Query: 1138, Rank: [8330, 76347, 8836, 8235, 76472, 8251, 3325, 8660, 6317, 7617], Dataset duplicated returned: 8251 in group: [3325, 8251]
Query: 1138, Rank: [8330, 76347, 8836, 8235, 76472, 8251, 3325, 8660, 6317, 7617], Dataset duplicated returned: 3325 in group: [3325, 8251]
Query: 1237, Rank: [3801, 1927, 7976, 8006, 9540, 3327, 7753, 11414, 55720, 596], Dataset duplicated returned: 3801 in group: [1927, 3327, 3801, 8006, 9540]
Query: 1237, Rank: [3801, 1927, 7976, 8006, 9540, 3327, 7753, 11414, 55720, 596], Dataset duplicated returned: 1927 in group: [1927, 3327, 3801, 8006, 9540]
Query: 1237, Rank: [3801, 1927, 7976, 8006, 9540, 3327, 7753, 11414, 55720, 596], Dataset duplicated returned: 8006 in group: [1927, 3327, 3801, 8006, 9540]
Query: 1237, Rank: [3801, 1927, 7976, 8006, 9540, 3327, 7753, 11414, 55720, 596], Dataset duplicated returned: 9540 in group: [1927, 3327, 3801, 8006, 9540]
Query: 1237, Rank: [3801, 1927, 7976, 8006, 9540, 3327, 7753, 11414, 55720, 596], Dataset duplicated returned: 3327 in group: [1927, 3327, 3801, 8006, 9540]
Query: 1237, Rank: [3801, 1927, 7976, 8006, 9540, 3327, 7753, 11414, 55720, 596], Dataset duplicated returned: 596 in group: [596, 1012]
Query: 1, Rank: [32907, 11995, 12509, 12398, 34340, 31665, 11607, 46025, 1670, 10871], Dataset duplicated returned: 12509 in group: [12398, 12509]
Query: 1, Rank: [32907, 11995, 12509, 12398, 34340, 31665, 11607, 46025, 1670, 10871], Dataset duplicated returned: 12398 in group: [12398, 12509]
Query: 29, Rank: [10825, 42452, 42420, 42427, 32855, 13719, 15275, 12507, 5670, 53958], Dataset duplicated returned: 13719 in group: [13719, 15275]
Query: 29, Rank: [10825, 42452, 42420, 42427, 32855, 13719, 15275, 12507, 5670, 53958], Dataset duplicated returned: 15275 in group: [13719, 15275]
Query: 81, Rank: [1928, 8033, 3341, 1943, 3342, 7801, 11155, 9881, 74834, 46568], Dataset duplicated returned: 1928 in group: [1928, 3341, 8033]
Query: 81, Rank: [1928, 8033, 3341, 1943, 3342, 7801, 11155, 9881, 74834, 46568], Dataset duplicated returned: 8033 in group: [1928, 3341, 8033]
Query: 81, Rank: [1928, 8033, 3341, 1943, 3342, 7801, 11155, 9881, 74834, 46568], Dataset duplicated returned: 3341 in group: [1928, 3341, 8033]
Query: 81, Rank: [1928, 8033, 3341, 1943, 3342, 7801, 11155, 9881, 74834, 46568], Dataset duplicated returned: 1943 in group: [1943, 3342, 7801]
Query: 81, Rank: [1928, 8033, 3341, 1943, 3342, 7801, 11155, 9881, 74834, 46568], Dataset duplicated returned: 3342 in group: [1943, 3342, 7801]
Query: 81, Rank: [1928, 8033, 3341, 1943, 3342, 7801, 11155, 9881, 74834, 46568], Dataset duplicated returned: 7801 in group: [1943, 3342, 7801]
Query: 1010, Rank: [7617, 7574, 7740, 1209, 7440, 7964, 8028, 55366, 11844, 13907], Dataset duplicated returned: 13907 in group: [13907, 15270]
Query: 104, Rank: [34862, 13579, 14924, 3218, 12513, 43219, 24299, 3659, 35831, 5506], Dataset duplicated returned: 13579 in group: [13579, 14924]
Query: 104, Rank: [34862, 13579, 14924, 3218, 12513, 43219, 24299, 3659, 35831, 5506], Dataset duplicated returned: 14924 in group: [13579, 14924]
Query: 158, Rank: [13815, 15250, 14735, 38033, 34714, 34645, 3106, 63268, 21569, 2664], Dataset duplicated returned: 13815 in group: [13815, 15250]
Query: 158, Rank: [13815, 15250, 14735, 38033, 34714, 34645, 3106, 63268, 21569, 2664], Dataset duplicated returned: 15250 in group: [13815, 15250]
Query: 218, Rank: [13369, 14336, 4818, 14751, 14750, 10689, 15205, 13845, 11233, 14163], Dataset duplicated returned: 15205 in group: [13845, 15205]
Query: 218, Rank: [13369, 14336, 4818, 14751, 14750, 10689, 15205, 13845, 11233, 14163], Dataset duplicated returned: 13845 in group: [13845, 15205]
Query: 1070, Rank: [8984, 15054, 13611, 15002, 12513, 13579, 14924, 21536, 6397, 10110], Dataset duplicated returned: 15054 in group: [13611, 15054]
Query: 1070, Rank: [8984, 15054, 13611, 15002, 12513, 13579, 14924, 21536, 6397, 10110], Dataset duplicated returned: 13611 in group: [13611, 15054]
Query: 1070, Rank: [8984, 15054, 13611, 15002, 12513, 13579, 14924, 21536, 6397, 10110], Dataset duplicated returned: 13579 in group: [13579, 14924]
Query: 1070, Rank: [8984, 15054, 13611, 15002, 12513, 13579, 14924, 21536, 6397, 10110], Dataset duplicated returned: 14924 in group: [13579, 14924]
Query: 1121, Rank: [3801, 1927, 8006, 9540, 3327, 7283, 46047, 1875, 4594, 75783], Dataset duplicated returned: 3801 in group: [1927, 3327, 3801, 8006, 9540]
Query: 1121, Rank: [3801, 1927, 8006, 9540, 3327, 7283, 46047, 1875, 4594, 75783], Dataset duplicated returned: 1927 in group: [1927, 3327, 3801, 8006, 9540]
Query: 1121, Rank: [3801, 1927, 8006, 9540, 3327, 7283, 46047, 1875, 4594, 75783], Dataset duplicated returned: 8006 in group: [1927, 3327, 3801, 8006, 9540]
Query: 1121, Rank: [3801, 1927, 8006, 9540, 3327, 7283, 46047, 1875, 4594, 75783], Dataset duplicated returned: 9540 in group: [1927, 3327, 3801, 8006, 9540]
Query: 1121, Rank: [3801, 1927, 8006, 9540, 3327, 7283, 46047, 1875, 4594, 75783], Dataset duplicated returned: 3327 in group: [1927, 3327, 3801, 8006, 9540]
Query: 1142, Rank: [8555, 74750, 4594, 7283, 8533, 10211, 3753, 45571, 3801, 1927], Dataset duplicated returned: 3801 in group: [1927, 3327, 3801, 8006, 9540]
Query: 1142, Rank: [8555, 74750, 4594, 7283, 8533, 10211, 3753, 45571, 3801, 1927], Dataset duplicated returned: 1927 in group: [1927, 3327, 3801, 8006, 9540]
Query: 1167, Rank: [14177, 43276, 13902, 14916, 14084, 15636, 44086, 27583, 27097, 26169], Dataset duplicated returned: 13902 in group: [13902, 14916]
Query: 1167, Rank: [14177, 43276, 13902, 14916, 14084, 15636, 44086, 27583, 27097, 26169], Dataset duplicated returned: 14916 in group: [13902, 14916]
Query: 153, Rank: [36142, 54126, 26344, 53986, 11265, 65750, 10445, 11413, 66330, 66606], Dataset duplicated returned: 10445 in group: [10445, 10803, 11413]
Query: 153, Rank: [36142, 54126, 26344, 53986, 11265, 65750, 10445, 11413, 66330, 66606], Dataset duplicated returned: 11413 in group: [10445, 10803, 11413]
Query: 171, Rank: [3106, 13579, 14924, 16160, 16546, 64116, 4784, 21557, 14163, 14921], Dataset duplicated returned: 13579 in group: [13579, 14924]
Query: 171, Rank: [3106, 13579, 14924, 16160, 16546, 64116, 4784, 21557, 14163, 14921], Dataset duplicated returned: 14924 in group: [13579, 14924]
Query: 1140, Rank: [11258, 16041, 11275, 10958, 26344, 10445, 11413, 10803, 66292, 71515], Dataset duplicated returned: 10445 in group: [10445, 10803, 11413]
Query: 1140, Rank: [11258, 16041, 11275, 10958, 26344, 10445, 11413, 10803, 66292, 71515], Dataset duplicated returned: 11413 in group: [10445, 10803, 11413]
Query: 1140, Rank: [11258, 16041, 11275, 10958, 26344, 10445, 11413, 10803, 66292, 71515], Dataset duplicated returned: 10803 in group: [10445, 10803, 11413]

# Section 2

Now we are going to retrieve the datasets that share the same links.

In [88]:
same_links = dict()

for dataset in datasets_json["datasets"]:
    distinct_links = sorted(set(dataset["download"]))

    links_as_string = ""
    for link in distinct_links:
        links_as_string += link
    
    if links_as_string not in same_links.keys():
        same_links[links_as_string] = list()
        
    same_links[links_as_string].append(int(dataset["dataset_id"]))

In [89]:
i = 0 
duplicated_links_sets_list = list() 
for key in same_links.keys():
    if len(same_links[key]) > 1:
        print(f"Datasets with the same links: {same_links[key]}")
        duplicated_links_sets_list.append(same_links[key])
        i+=1

print(i)

Datasets with the same links: [596, 1012]
Datasets with the same links: [649, 4335, 4499, 5456]
Datasets with the same links: [787, 796, 1166]
Datasets with the same links: [1123, 1848, 4013]
Datasets with the same links: [1203, 4435]
Datasets with the same links: [1221, 3340, 6542]
Datasets with the same links: [1650, 1655, 4591, 4604, 4609]
Datasets with the same links: [1689, 5212]
Datasets with the same links: [1690, 5179]
Datasets with the same links: [1691, 5284]
Datasets with the same links: [1695, 5115]
Datasets with the same links: [1696, 5112]
Datasets with the same links: [1697, 5311]
Datasets with the same links: [1698, 5132]
Datasets with the same links: [1699, 5213]
Datasets with the same links: [1700, 5316]
Datasets with the same links: [1702, 5170]
Datasets with the same links: [1703, 5228]
Datasets with the same links: [1704, 5343]
Datasets with the same links: [1706, 5169]
Datasets with the same links: [1707, 5217]
Datasets with the same links: [1708, 5113]
Datasets with the same links: [1709, 5345]
Datasets with the same links: [1710, 5225]
Datasets with the same links: [1712, 5269]
Datasets with the same links: [1713, 5296]
Datasets with the same links: [1716, 5211]
Datasets with the same links: [1717, 5306]
Datasets with the same links: [1720, 5350]
Datasets with the same links: [1723, 5242]
Datasets with the same links: [1724, 5133]
Datasets with the same links: [1725, 5280]
Datasets with the same links: [1726, 5294]
Datasets with the same links: [1727, 5342]
Datasets with the same links: [1728, 9869]
Datasets with the same links: [1732, 5116]
Datasets with the same links: [1733, 5331]
Datasets with the same links: [1736, 5098]
Datasets with the same links: [1737, 5281]
Datasets with the same links: [1739, 5109]
Datasets with the same links: [1740, 5119]
Datasets with the same links: [1741, 5239]
Datasets with the same links: [1742, 9868]
Datasets with the same links: [1743, 5120]
Datasets with the same links: [1747, 5149]
Datasets with the same links: [1748, 5279]
Datasets with the same links: [1750, 5168]
Datasets with the same links: [1751, 5313]
Datasets with the same links: [1754, 5283]
Datasets with the same links: [1755, 5068]
Datasets with the same links: [1756, 5282]
Datasets with the same links: [1757, 5347]
Datasets with the same links: [1758, 5150]
Datasets with the same links: [1759, 5130]
Datasets with the same links: [1760, 5131]
Datasets with the same links: [1763, 9785]
Datasets with the same links: [1765, 5107]
Datasets with the same links: [1767, 5237]
Datasets with the same links: [1770, 5235]
Datasets with the same links: [1771, 9786]
Datasets with the same links: [1772, 5246]
Datasets with the same links: [1773, 5059]
Datasets with the same links: [1775, 5303]
Datasets with the same links: [1776, 5286]
Datasets with the same links: [1777, 5171]
Datasets with the same links: [1779, 5349]
Datasets with the same links: [1781, 5151]
Datasets with the same links: [1782, 5175]
Datasets with the same links: [1783, 5243]
Datasets with the same links: [1786, 5351]
Datasets with the same links: [1790, 5093]
Datasets with the same links: [1794, 5224]
Datasets with the same links: [1795, 5289]
Datasets with the same links: [1796, 5216]
Datasets with the same links: [1798, 5332]
Datasets with the same links: [1800, 5215]
Datasets with the same links: [1801, 5339]
Datasets with the same links: [1804, 5312]
Datasets with the same links: [1805, 5110]
Datasets with the same links: [1809, 5344]
Datasets with the same links: [1810, 5054]
Datasets with the same links: [1813, 5241]
Datasets with the same links: [1817, 5108]
Datasets with the same links: [1818, 5334]
Datasets with the same links: [1819, 5335]
Datasets with the same links: [1821, 5125]
Datasets with the same links: [1822, 5288]
Datasets with the same links: [1823, 5290]
Datasets with the same links: [1824, 5167]
Datasets with the same links: [1827, 5056]
Datasets with the same links: [1828, 5315]
Datasets with the same links: [1870, 3489]
Datasets with the same links: [1871, 3485]
Datasets with the same links: [1896, 4547]
Datasets with the same links: [1899, 1901]
Datasets with the same links: [1900, 1902]
Datasets with the same links: [1909, 5001]
Datasets with the same links: [1921, 6661]
Datasets with the same links: [1927, 3327, 3801, 8006, 9540]
Datasets with the same links: [1928, 3341, 8033]
Datasets with the same links: [1934, 8389]
Datasets with the same links: [1937, 3328, 3802, 7794, 9541]
Datasets with the same links: [1942, 3333, 7754]
Datasets with the same links: [1943, 3342, 7801]
Datasets with the same links: [1947, 7008]
Datasets with the same links: [1949, 6856]
Datasets with the same links: [1953, 3334, 3799, 8642, 9539]
Datasets with the same links: [1972, 3773, 9360]
Datasets with the same links: [1973, 3766, 8975]
Datasets with the same links: [1994, 3355]
Datasets with the same links: [2000, 3354]
Datasets with the same links: [2028, 3356]
Datasets with the same links: [2053, 3358]
Datasets with the same links: [2071, 3357]
Datasets with the same links: [2115, 3346]
Datasets with the same links: [2231, 3361]
Datasets with the same links: [2249, 3362]
Datasets with the same links: [2596, 3351]
Datasets with the same links: [2974, 3352]
Datasets with the same links: [3306, 5111]
Datasets with the same links: [3307, 5729]
Datasets with the same links: [3308, 5644]
Datasets with the same links: [3313, 7353]
Datasets with the same links: [3316, 8353]
Datasets with the same links: [3318, 4805, 7300]
Datasets with the same links: [3319, 8667]
Datasets with the same links: [3320, 4131, 8860]
Datasets with the same links: [3321, 8197]
Datasets with the same links: [3323, 7048]
Datasets with the same links: [3324, 8249]
Datasets with the same links: [3325, 8251]
Datasets with the same links: [3326, 8252]
Datasets with the same links: [3330, 6507]
Datasets with the same links: [3331, 4130, 6496]
Datasets with the same links: [3332, 4803, 6463]
Datasets with the same links: [3336, 7007]
Datasets with the same links: [3337, 7221]
Datasets with the same links: [3338, 6694]
Datasets with the same links: [3345, 5240]
Datasets with the same links: [3700, 5181]
Datasets with the same links: [3742, 5337]
Datasets with the same links: [3811, 9443, 9548, 10556, 10989, 11171]
Datasets with the same links: [4333, 5165]
Datasets with the same links: [4541, 4995]
Datasets with the same links: [4804, 4871, 11216]
Datasets with the same links: [4807, 9867]
Datasets with the same links: [4846, 5122]
Datasets with the same links: [4848, 5091]
Datasets with the same links: [4856, 5082]
Datasets with the same links: [4857, 5077]
Datasets with the same links: [4870, 5453, 10223]
Datasets with the same links: [4889, 5069]
Datasets with the same links: [4893, 5062]
Datasets with the same links: [4894, 5061]
Datasets with the same links: [4895, 5051]
Datasets with the same links: [4896, 5053]
Datasets with the same links: [4897, 5236]
Datasets with the same links: [4910, 5033]
Datasets with the same links: [4911, 5019]
Datasets with the same links: [4912, 5028]
Datasets with the same links: [4913, 5013]
Datasets with the same links: [4914, 5014]
Datasets with the same links: [4915, 5031]
Datasets with the same links: [4916, 5543]
Datasets with the same links: [4917, 5022]
Datasets with the same links: [4918, 5023]
Datasets with the same links: [4919, 5034]
Datasets with the same links: [4920, 5035]
Datasets with the same links: [4921, 5038]
Datasets with the same links: [4923, 5029]
Datasets with the same links: [4924, 5012]
Datasets with the same links: [4925, 5024]
Datasets with the same links: [4926, 5021]
Datasets with the same links: [4927, 5020]
Datasets with the same links: [4929, 5037]
Datasets with the same links: [4930, 5026]
Datasets with the same links: [4931, 5030]
Datasets with the same links: [4932, 5025]
Datasets with the same links: [4933, 5027]
Datasets with the same links: [4934, 5015]
Datasets with the same links: [4935, 5036]
Datasets with the same links: [4936, 5043]
Datasets with the same links: [4937, 5048]
Datasets with the same links: [4938, 5040]
Datasets with the same links: [4939, 5045]
Datasets with the same links: [4948, 5016]
Datasets with the same links: [4949, 5176]
Datasets with the same links: [4950, 5223]
Datasets with the same links: [4994, 5507]
Datasets with the same links: [4996, 12450]
Datasets with the same links: [4997, 9714]
Datasets with the same links: [4998, 10320]
Datasets with the same links: [4999, 10165]
Datasets with the same links: [5000, 9445]
Datasets with the same links: [5002, 10085]
Datasets with the same links: [5003, 9409]
Datasets with the same links: [5004, 5330]
Datasets with the same links: [5005, 12492]
Datasets with the same links: [5017, 10164]
Datasets with the same links: [5042, 5529]
Datasets with the same links: [5044, 5479]
Datasets with the same links: [5055, 5376]
Datasets with the same links: [5060, 12493]
Datasets with the same links: [5065, 10047]
Datasets with the same links: [5067, 10011]
Datasets with the same links: [5075, 5375]
Datasets with the same links: [5076, 10071]
Datasets with the same links: [5081, 9411]
Datasets with the same links: [5083, 12166]
Datasets with the same links: [5089, 12210]
Datasets with the same links: [5090, 10118]
Datasets with the same links: [5102, 5467]
Datasets with the same links: [5103, 5508]
Datasets with the same links: [5104, 5472]
Datasets with the same links: [5105, 5530]
Datasets with the same links: [5106, 11176]
Datasets with the same links: [5114, 5519]
Datasets with the same links: [5117, 12415]
Datasets with the same links: [5118, 12167]
Datasets with the same links: [5121, 5433]
Datasets with the same links: [5123, 5539]
Datasets with the same links: [5124, 9919]
Datasets with the same links: [5127, 11178]
Datasets with the same links: [5128, 9925]
Datasets with the same links: [5138, 5463]
Datasets with the same links: [5139, 5434]
Datasets with the same links: [5140, 5464]
Datasets with the same links: [5141, 5516]
Datasets with the same links: [5142, 5465]
Datasets with the same links: [5143, 5437]
Datasets with the same links: [5145, 5517]
Datasets with the same links: [5152, 11179]
Datasets with the same links: [5177, 10096]
Datasets with the same links: [5178, 10009]
Datasets with the same links: [5180, 12417]
Datasets with the same links: [5183, 11856]
Datasets with the same links: [5184, 5470]
Datasets with the same links: [5186, 5474]
Datasets with the same links: [5188, 5478]
Datasets with the same links: [5218, 10317]
Datasets with the same links: [5219, 10318]
Datasets with the same links: [5220, 10998]
Datasets with the same links: [5221, 11851]
Datasets with the same links: [5222, 10046]
Datasets with the same links: [5226, 12494]
Datasets with the same links: [5238, 12495]
Datasets with the same links: [5244, 9410]
Datasets with the same links: [5247, 5524]
Datasets with the same links: [5248, 5469]
Datasets with the same links: [5249, 5471]
Datasets with the same links: [5250, 5525]
Datasets with the same links: [5251, 5526]
Datasets with the same links: [5252, 5527]
Datasets with the same links: [5253, 5528]
Datasets with the same links: [5254, 5475]
Datasets with the same links: [5255, 5476]
Datasets with the same links: [5285, 9870]
Datasets with the same links: [5291, 10155]
Datasets with the same links: [5292, 12209]
Datasets with the same links: [5293, 12170]
Datasets with the same links: [5304, 5531]
Datasets with the same links: [5305, 10094]
Datasets with the same links: [5317, 5459]
Datasets with the same links: [5318, 5430]
Datasets with the same links: [5319, 5504]
Datasets with the same links: [5320, 5431]
Datasets with the same links: [5321, 5432]
Datasets with the same links: [5322, 5460]
Datasets with the same links: [5323, 5505]
Datasets with the same links: [5324, 5461]
Datasets with the same links: [5336, 11175]
Datasets with the same links: [5338, 9885]
Datasets with the same links: [5340, 9945]
Datasets with the same links: [5341, 9884]
Datasets with the same links: [5346, 9630]
Datasets with the same links: [5348, 10095]
Datasets with the same links: [5353, 5520]
Datasets with the same links: [5354, 5429]
Datasets with the same links: [5355, 5521]
Datasets with the same links: [5356, 5513]
Datasets with the same links: [5357, 5514]
Datasets with the same links: [5358, 5522]
Datasets with the same links: [5359, 5515]
Datasets with the same links: [5386, 7385]
Datasets with the same links: [5388, 7387]
Datasets with the same links: [5389, 7394]
Datasets with the same links: [5390, 7386]
Datasets with the same links: [5391, 7392]
Datasets with the same links: [5392, 7393]
Datasets with the same links: [5394, 7384]
Datasets with the same links: [5440, 5458]
Datasets with the same links: [5568, 5577]
Datasets with the same links: [5569, 5582]
Datasets with the same links: [7380, 7382]
Datasets with the same links: [7388, 12339]
Datasets with the same links: [9715, 9809]
Datasets with the same links: [9777, 9839]
Datasets with the same links: [9778, 9840]
Datasets with the same links: [9859, 9904]
Datasets with the same links: [9862, 9897]
Datasets with the same links: [9883, 9911]
Datasets with the same links: [9886, 9924]
Datasets with the same links: [9896, 11862]
Datasets with the same links: [9899, 11864]
Datasets with the same links: [9920, 11863]
Datasets with the same links: [9926, 11865]
Datasets with the same links: [9946, 10028]
Datasets with the same links: [9947, 10020]
Datasets with the same links: [9957, 10018]
Datasets with the same links: [10101, 10595, 10966, 11345]
Datasets with the same links: [10102, 10558, 10996, 11174]
Datasets with the same links: [10117, 10521, 10987, 11252]
Datasets with the same links: [10158, 10319]
Datasets with the same links: [10163, 10166]
Datasets with the same links: [10268, 11919, 12191]
Datasets with the same links: [10444, 10800, 11236]
Datasets with the same links: [10445, 10803, 11413]
Datasets with the same links: [10624, 11873]
Datasets with the same links: [10627, 11871]
Datasets with the same links: [10628, 11872]
Datasets with the same links: [10630, 11878]
Datasets with the same links: [10633, 11868]
Datasets with the same links: [10634, 11875]
Datasets with the same links: [10818, 11858]
Datasets with the same links: [11001, 12331]
Datasets with the same links: [11002, 12332]
Datasets with the same links: [11177, 12374]
Datasets with the same links: [11845, 11847]
Datasets with the same links: [11846, 11855]
Datasets with the same links: [11848, 11850]
Datasets with the same links: [11852, 11854]
Datasets with the same links: [11859, 11957]
Datasets with the same links: [11860, 11861]
Datasets with the same links: [12045, 12354]
Datasets with the same links: [12168, 12353]
Datasets with the same links: [12169, 12342]
Datasets with the same links: [12171, 12343]
Datasets with the same links: [12172, 12328]
Datasets with the same links: [12211, 12337]
Datasets with the same links: [12212, 12351]
Datasets with the same links: [12213, 12347]
Datasets with the same links: [12215, 12346]
Datasets with the same links: [12216, 12335]
Datasets with the same links: [12302, 12338]
Datasets with the same links: [12394, 12453]
Datasets with the same links: [12395, 12416]
Datasets with the same links: [12396, 12412]
Datasets with the same links: [12397, 12429]
Datasets with the same links: [12398, 12509]
Datasets with the same links: [12491, 12511]
Datasets with the same links: [12530, 14657]
Datasets with the same links: [12636, 14546]
Datasets with the same links: [12879, 14645]
Datasets with the same links: [12919, 14635]
Datasets with the same links: [13053, 14632]
Datasets with the same links: [13077, 14573]
Datasets with the same links: [13080, 14676]
Datasets with the same links: [13193, 14597]
Datasets with the same links: [13252, 14411]
Datasets with the same links: [13255, 15234]
Datasets with the same links: [13260, 14547]
Datasets with the same links: [13261, 14450]
Datasets with the same links: [13263, 14364]
Datasets with the same links: [13267, 14401]
Datasets with the same links: [13279, 14387]
Datasets with the same links: [13283, 14277]
Datasets with the same links: [13284, 14417]
Datasets with the same links: [13288, 14580]
Datasets with the same links: [13289, 14488]
Datasets with the same links: [13291, 15333]
Datasets with the same links: [13319, 14292]
Datasets with the same links: [13323, 14355]
Datasets with the same links: [13334, 14583]
Datasets with the same links: [13339, 14308]
Datasets with the same links: [13347, 14324]
Datasets with the same links: [13349, 14509]
Datasets with the same links: [13351, 13623]
Datasets with the same links: [13356, 15381]
Datasets with the same links: [13357, 14603]
Datasets with the same links: [13360, 14298]
Datasets with the same links: [13368, 14344]
Datasets with the same links: [13369, 14336]
Datasets with the same links: [13378, 14252]
Datasets with the same links: [13379, 14352]
Datasets with the same links: [13384, 14587]
Datasets with the same links: [13388, 15414]
Datasets with the same links: [13394, 14599]
Datasets with the same links: [13400, 14382]
Datasets with the same links: [13409, 14362]
Datasets with the same links: [13412, 15082]
Datasets with the same links: [13420, 14383]
Datasets with the same links: [13425, 14299]
Datasets with the same links: [13427, 14235]
Datasets with the same links: [13452, 14637]
Datasets with the same links: [13471, 14396]
Datasets with the same links: [13474, 14543]
Datasets with the same links: [13501, 14549]
Datasets with the same links: [13522, 14517]
Datasets with the same links: [13530, 15050]
Datasets with the same links: [13541, 14471]
Datasets with the same links: [13577, 14921]
Datasets with the same links: [13579, 14924]
Datasets with the same links: [13581, 14493]
Datasets with the same links: [13582, 14491]
Datasets with the same links: [13590, 15056]
Datasets with the same links: [13594, 14486]
Datasets with the same links: [13600, 14520]
Datasets with the same links: [13611, 15054]
Datasets with the same links: [13622, 15092]
Datasets with the same links: [13633, 14503]
Datasets with the same links: [13683, 15261]
Datasets with the same links: [13715, 14430]
Datasets with the same links: [13719, 15275]
Datasets with the same links: [13723, 14469]
Datasets with the same links: [13759, 15150]
Datasets with the same links: [13765, 15344]
Datasets with the same links: [13796, 14806]
Datasets with the same links: [13815, 15250]
Datasets with the same links: [13822, 15282]
Datasets with the same links: [13845, 15205]
Datasets with the same links: [13847, 14304]
Datasets with the same links: [13902, 14916]
Datasets with the same links: [13907, 15270]
Datasets with the same links: [14750, 14751]
Datasets with the same links: [15550, 21518]
Datasets with the same links: [15853, 16021]
Datasets with the same links: [15968, 15979]
Datasets with the same links: [15969, 15980]
Datasets with the same links: [15998, 21526]
Datasets with the same links: [16001, 21523]
Datasets with the same links: [16002, 21528]
Datasets with the same links: [16004, 21527]
Datasets with the same links: [16005, 21525]
Datasets with the same links: [16006, 21529]
Datasets with the same links: [16153, 21662]
Datasets with the same links: [16154, 21661]
Datasets with the same links: [16155, 21663]
Datasets with the same links: [21516, 21521]
438

In [90]:
#remove from the previous list all the datasets sets that were retrieved in the previous section in order to mantain only the 
#datasets that share the links but have the other meta fields different (author, tags, title and description)

duplicated_sets_set = set()
for i in range(len(duplicated_sets_list)):
    duplicated_sets_set = duplicated_sets_set | set([tuple(duplicated_sets_list[i])])
    
duplicated_links_sets_set = set()
for i in range(len(duplicated_links_sets_list)):
    duplicated_links_sets_set = duplicated_links_sets_set | set([tuple(duplicated_links_sets_list[i])])

difference = duplicated_links_sets_set - duplicated_sets_set

for group in difference:
    print(group)

print(len(difference))

(1724, 5133)
(1736, 5098)
(5247, 5524)
(1698, 5132)
(5238, 12495)
(1710, 5225)
(13339, 14308)
(1794, 5224)
(4930, 5026)
(5118, 12167)
(13369, 14336)
(11852, 11854)
(16153, 21662)
(13077, 14573)
(4848, 5091)
(5357, 5514)
(5127, 11178)
(11848, 11850)
(5083, 12166)
(1822, 5288)
(12172, 12328)
(1795, 5289)
(1770, 5235)
(4927, 5020)
(13522, 14517)
(4950, 5223)
(10818, 11858)
(5323, 5505)
(11002, 12332)
(1742, 9868)
(5143, 5437)
(13633, 14503)
(9883, 9911)
(13193, 14597)
(4926, 5021)
(13378, 14252)
(1732, 5116)
(5386, 7385)
(13252, 14411)
(4895, 5051)
(1699, 5213)
(5075, 5375)
(12168, 12353)
(1828, 5315)
(1809, 5344)
(15968, 15979)
(5253, 5528)
(1776, 5286)
(5356, 5513)
(9899, 11864)
(1726, 5294)
(4911, 5019)
(15969, 15980)
(5186, 5474)
(5076, 10071)
(13368, 14344)
(12530, 14657)
(5320, 5431)
(5138, 5463)
(1743, 5120)
(1771, 9786)
(4921, 5038)
(4949, 5176)
(5123, 5539)
(7388, 12339)
(5090, 10118)
(4937, 5048)
(13420, 14383)
(1896, 4547)
(1739, 5109)
(4333, 5165)
(10624, 11873)
(13360, 14298)
(1733, 5331)
(4846, 5122)
(5004, 5330)
(4934, 5015)
(4936, 5043)
(4929, 5037)
(12397, 12429)
(4910, 5033)
(5359, 5515)
(13261, 14450)
(13427, 14235)
(4925, 5024)
(13715, 14430)
(3742, 5337)
(13288, 14580)
(10627, 11871)
(5089, 12210)
(5336, 11175)
(15853, 16021)
(4897, 5236)
(5392, 7393)
(5002, 10085)
(10628, 11872)
(5105, 5530)
(5389, 7394)
(4917, 5022)
(13279, 14387)
(4856, 5082)
(4914, 5014)
(4933, 5027)
(12636, 14546)
(4918, 5023)
(13409, 14362)
(12212, 12351)
(13356, 15381)
(5055, 5376)
(1765, 5107)
(5340, 9945)
(13394, 14599)
(7380, 7382)
(5348, 10095)
(12879, 14645)
(5221, 11851)
(5005, 12492)
(9947, 10020)
(1775, 5303)
(9886, 9924)
(1796, 5216)
(5440, 5458)
(9920, 11863)
(1755, 5068)
(12171, 12343)
(13425, 14299)
(5065, 10047)
(1760, 5131)
(1909, 5001)
(1709, 5345)
(1763, 9785)
(4894, 5061)
(13400, 14382)
(1706, 5169)
(1801, 5339)
(5338, 9885)
(5177, 10096)
(13080, 14676)
(4893, 5062)
(13267, 14401)
(4948, 5016)
(9777, 9839)
(1756, 5282)
(13319, 14292)
(11001, 12331)
(5003, 9409)
(12045, 12354)
(12213, 12347)
(10630, 11878)
(1800, 5215)
(1751, 5313)
(1723, 5242)
(9778, 9840)
(5102, 5467)
(5128, 9925)
(13284, 14417)
(5183, 11856)
(13847, 14304)
(10634, 11875)
(1782, 5175)
(5305, 10094)
(4889, 5069)
(4935, 5036)
(13474, 14543)
(1689, 5212)
(14750, 14751)
(5355, 5521)
(13289, 14488)
(5254, 5475)
(4939, 5045)
(1772, 5246)
(13541, 14471)
(1727, 5342)
(10158, 10319)
(13577, 14921)
(5346, 9630)
(4916, 5543)
(1827, 5056)
(5117, 12415)
(5388, 7387)
(11859, 11957)
(1824, 5167)
(1818, 5334)
(5140, 5464)
(13471, 14396)
(3700, 5181)
(13412, 15082)
(11177, 12374)
(1717, 5306)
(13263, 14364)
(1819, 5335)
(1821, 5125)
(5354, 5429)
(5251, 5526)
(1696, 5112)
(1720, 5350)
(5106, 11176)
(4999, 10165)
(13501, 14549)
(5569, 5582)
(5252, 5527)
(649, 4335, 4499, 5456)
(1708, 5113)
(1702, 5170)
(13349, 14509)
(1899, 1901)
(9859, 9904)
(13594, 14486)
(10163, 10166)
(5322, 5460)
(1716, 5211)
(1773, 5059)
(16155, 21663)
(1804, 5312)
(1900, 1902)
(13053, 14632)
(9957, 10018)
(13323, 14355)
(1695, 5115)
(5044, 5479)
(1748, 5279)
(12216, 12335)
(12396, 12412)
(13600, 14520)
(1707, 5217)
(4997, 9714)
(1725, 5280)
(5358, 5522)
(1777, 5171)
(3345, 5240)
(1713, 5296)
(3306, 5111)
(4807, 9867)
(13347, 14324)
(13796, 14806)
(1691, 5284)
(1737, 5281)
(5317, 5459)
(5042, 5529)
(5249, 5471)
(5152, 11179)
(5060, 12493)
(4924, 5012)
(5145, 5517)
(1697, 5311)
(4932, 5025)
(13581, 14493)
(13582, 14491)
(4919, 5034)
(4912, 5028)
(5188, 5478)
(9862, 9897)
(4857, 5077)
(13452, 14637)
(4920, 5035)
(1759, 5130)
(13291, 15333)
(5000, 9445)
(5104, 5472)
(5067, 10011)
(5121, 5433)
(12215, 12346)
(13723, 14469)
(5142, 5465)
(1790, 5093)
(4938, 5040)
(1783, 5243)
(4541, 4995)
(5218, 10317)
(1779, 5349)
(5285, 9870)
(1747, 5149)
(4913, 5013)
(1754, 5283)
(1740, 5119)
(1703, 5228)
(5124, 9919)
(5178, 10009)
(5219, 10318)
(5292, 12209)
(5391, 7392)
(10633, 11868)
(5081, 9411)
(12169, 12342)
(12395, 12416)
(13388, 15414)
(15550, 21518)
(13384, 14587)
(1741, 5239)
(1823, 5290)
(4923, 5029)
(4994, 5507)
(11846, 11855)
(5318, 5430)
(5394, 7384)
(4931, 5030)
(5139, 5434)
(11845, 11847)
(12394, 12453)
(5248, 5469)
(5244, 9410)
(9946, 10028)
(13260, 14547)
(5103, 5508)
(9926, 11865)
(1757, 5347)
(1728, 9869)
(12211, 12337)
(5390, 7386)
(5568, 5577)
(10268, 11919, 12191)
(13283, 14277)
(1817, 5108)
(1758, 5150)
(1700, 5316)
(5141, 5516)
(5319, 5504)
(16154, 21661)
(1798, 5332)
(5180, 12417)
(1813, 5241)
(1781, 5151)
(5114, 5519)
(1704, 5343)
(4998, 10320)
(12302, 12338)
(5220, 10998)
(5255, 5476)
(1690, 5179)
(5222, 10046)
(5291, 10155)
(5353, 5520)
(5341, 9884)
(9896, 11862)
(1786, 5351)
(11860, 11861)
(13357, 14603)
(1767, 5237)
(5184, 5470)
(5250, 5525)
(13351, 13623)
(13334, 14583)
(9715, 9809)
(4915, 5031)
(1805, 5110)
(5321, 5432)
(5017, 10164)
(12491, 12511)
(1810, 5054)
(1750, 5168)
(13379, 14352)
(5293, 12170)
(5324, 5461)
(12919, 14635)
(4996, 12450)
(4896, 5053)
(5304, 5531)
(1712, 5269)
(13255, 15234)
(5226, 12494)
360

## Section 3

From the sets of datasets that have the same links but different metadata fields, retrieved in the end of the previous section, we want to see if these datasets have very different metadata fields.

In [91]:
#create a dataframe with all the datasets descriptions
datasets_df = json_normalize(datasets_json['datasets'])

datasets_df.set_index("dataset_id", inplace=True)

In [93]:
#this function calculate the difference as a Jaccard distance between the two metadata strings
def metadata_difference(metadata_1: str, metadata_2: str) -> float:

    metadata_1_set = metadata_1.split(" ")
    metadata_1_set = set(metadata_1_set)

    metadata_2_set = metadata_2.split(" ")
    metadata_2_set = set(metadata_2_set)

    union = metadata_2_set.union(metadata_1_set)

    intersection = metadata_1_set.intersection(metadata_2_set)

    return len(intersection) / len(union)

In [103]:
j = 0
#lets analyze the tags
for tpl in difference:
    tags = datasets_df.loc[str(tpl[0]), "tags"]
    metadata = str(datasets_df.loc[str(tpl[0]), "title"]) + str(datasets_df.loc[str(tpl[0]), "description"]) + str(datasets_df.loc[str(tpl[0]), "author"])
    
    for i in range(1, len(tpl)):
        if datasets_df.loc[str(tpl[i]), "tags"] != tags:
            print(f"Different tags in {tpl[0]} and {tpl[i]}")
            j+=1

print(f"Found {j} datasets with different tags")

Different tags in 13339 and 14308
Different tags in 1794 and 5224
Different tags in 13369 and 14336
Different tags in 16153 and 21662
Different tags in 13077 and 14573
Different tags in 13522 and 14517
Different tags in 13633 and 14503
Different tags in 13193 and 14597
Different tags in 13378 and 14252
Different tags in 13252 and 14411
Different tags in 15968 and 15979
Different tags in 15969 and 15980
Different tags in 13368 and 14344
Different tags in 12530 and 14657
Different tags in 13420 and 14383
Different tags in 13360 and 14298
Different tags in 5359 and 5515
Different tags in 13261 and 14450
Different tags in 13427 and 14235
Different tags in 13715 and 14430
Different tags in 13288 and 14580
Different tags in 15853 and 16021
Different tags in 13279 and 14387
Different tags in 12636 and 14546
Different tags in 13409 and 14362
Different tags in 13356 and 15381
Different tags in 13394 and 14599
Different tags in 12879 and 14645
Different tags in 13425 and 14299
Different tags in 13400 and 14382
Different tags in 13080 and 14676
Different tags in 13267 and 14401
Different tags in 13319 and 14292
Different tags in 5003 and 9409
Different tags in 13284 and 14417
Different tags in 13847 and 14304
Different tags in 13474 and 14543
Different tags in 14750 and 14751
Different tags in 13289 and 14488
Different tags in 13541 and 14471
Different tags in 13577 and 14921
Different tags in 5140 and 5464
Different tags in 13471 and 14396
Different tags in 13412 and 15082
Different tags in 13263 and 14364
Different tags in 1819 and 5335
Different tags in 13501 and 14549
Different tags in 13349 and 14509
Different tags in 13594 and 14486
Different tags in 16155 and 21663
Different tags in 13053 and 14632
Different tags in 13323 and 14355
Different tags in 13600 and 14520
Different tags in 13347 and 14324
Different tags in 13796 and 14806
Different tags in 13581 and 14493
Different tags in 13582 and 14491
Different tags in 13452 and 14637
Different tags in 13291 and 15333
Different tags in 5067 and 10011
Different tags in 13723 and 14469
Different tags in 5142 and 5465
Different tags in 1747 and 5149
Different tags in 5219 and 10318
Different tags in 13388 and 15414
Different tags in 15550 and 21518
Different tags in 13384 and 14587
Different tags in 13260 and 14547
Different tags in 13283 and 14277
Different tags in 16154 and 21661
Different tags in 5220 and 10998
Different tags in 5353 and 5520
Different tags in 13357 and 14603
Different tags in 13351 and 13623
Different tags in 13334 and 14583
Different tags in 13379 and 14352
Different tags in 12919 and 14635
Different tags in 13255 and 15234
Found 78 datasets with different tags

In [106]:
j = 0
#lets analyze the tags
for tpl in difference:
    metadata = str(datasets_df.loc[str(tpl[0]), "title"]) + str(datasets_df.loc[str(tpl[0]), "description"])
    
    for i in range(1, len(tpl)):
        metadata_1 = str(datasets_df.loc[str(tpl[i]), "title"]) + str(datasets_df.loc[str(tpl[i]), "description"])
        if metadata_difference(metadata, metadata_1) < 0.8:
            print(f"{tpl[0]} and {tpl[1]} are very different in title and description")
            j+=1

print(f"Found {j} datasets with very different titles and description")

1698 and 5132 are very different in title and description
5075 and 5375 are very different in title and description
15968 and 15979 are very different in title and description
15969 and 15980 are very different in title and description
5186 and 5474 are very different in title and description
12530 and 14657 are very different in title and description
5138 and 5463 are very different in title and description
7388 and 12339 are very different in title and description
4333 and 5165 are very different in title and description
15853 and 16021 are very different in title and description
5105 and 5530 are very different in title and description
4933 and 5027 are very different in title and description
1760 and 5131 are very different in title and description
4894 and 5061 are very different in title and description
1801 and 5339 are very different in title and description
1756 and 5282 are very different in title and description
5003 and 9409 are very different in title and description
1751 and 5313 are very different in title and description
5102 and 5467 are very different in title and description
10158 and 10319 are very different in title and description
649 and 4335 are very different in title and description
1773 and 5059 are very different in title and description
1804 and 5312 are very different in title and description
1725 and 5280 are very different in title and description
1713 and 5296 are very different in title and description
1737 and 5281 are very different in title and description
1697 and 5311 are very different in title and description
1759 and 5130 are very different in title and description
5104 and 5472 are very different in title and description
5142 and 5465 are very different in title and description
5248 and 5469 are very different in title and description
5103 and 5508 are very different in title and description
5291 and 10155 are very different in title and description
Found 33 datasets with very different titles and description